<div class="a5e-box u-p-md">
    <div class="a5e-form__section a5e-form__section--inline a5e-form__section--no-margin">
        <h3 class="u-text-bold u-text-sm u-flex-shrink-0 u-mb-0">
            {{ localize "A5E.ItemAbilityCheckType" }}
        </h3>

        <div class="a5e-input-container a5e-input-container--inline">
            <select
                class="u-w-full"
                name="data.check.ability"
                data-dtype="String"
            >
                {{#select data.check.ability}}
                    {{#each config.abilities as |name ability|}}
                        <option value="{{ability}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
    </div>
</div>
