<div class="a5e-box a5e-box--padded a5e-form__section a5e-form__section--no-margin">
    <h3 class="a5e-form__input-label">{{ localize "A5E.ManeuverTraditionPrompt" }}</h3>

    <ul class="a5e-tag-group">
        {{#each config.maneuverTraditions as | tradition key |}}
            <li
                class="
                  a5e-tag
                  a5e-tag--clickable
                  {{#unless (eq ../item.data.tradition key)}}a5e-tag--inactive{{/unless}}
                  a5e-js-select-maneuver-tradition
              "
                data-tradition="{{key}}"
            >
                {{ localize tradition }}
            </li>
        {{/each}}
    </ul>
</div>
