<div class="a5e-box a5e-box--padded a5e-form__section a5e-form__section--no-margin">
    <h3 class="a5e-form__input-label">{{ localize "A5E.ObjectTypePrompt" }}</h3>

    <ul class="a5e-tag-group">
        {{#each config.objectTypes as | objectType key |}}
            <li
                class="
                    a5e-tag
                    a5e-tag--clickable
                    {{#unless (eq ../item.data.objectType key)}}a5e-tag--inactive{{/unless}}
                    a5e-js-select-object-type
                "
                data-object-type="{{key}}"
            >
                {{ localize objectType }}
            </li>
        {{/each}}
    </ul>
</div>
