<div class="a5e-box u-p-md a5e-form__section a5e-form__section--no-margin">
    <h3 class="u-text-bold u-text-sm">{{ localize "A5E.ObjectTypePrompt" }}</h3>

    <ul class="u-flex u-flex-wrap u-font-san-serif
u-gap-md u-list-style-none u-m-0 u-p-0 u-text-xs">
        {{#each config.objectTypes as | objectType key |}}
            <li
                class="
                    a5e-tag
                    u-pointer
                    {{#unless (eq ../item.data.objectType key)}}a5e-tag--inactive{{/unless}}
                    a5e-js-select-object-type
                "
                data-object-type="{{key}}"
            >
                {{ localize objectType }}
            </li>
        {{/each}}
    </ul>
</div>
