<div class="a5e-box u-p-md a5e-form__section a5e-form__section--no-margin">
    <h3 class="u-text-bold u-text-sm">{{ localize "A5E.SpellSchoolPrimary" }}</h3>

    <ul class="u-flex u-flex-wrap u-font-san-serif
u-gap-md u-list-style-none u-m-0 u-p-0 u-text-xs">
        {{#each config.spellSchools.primary as | school key |}}
            <li
                class="
                    a5e-tag
                    .u-pointer
                    {{#unless (eq ../item.data.schools.primary key)}}a5e-tag--inactive{{/unless}}
                    a5e-js-select-primary-spell-school
                "
                data-school="{{key}}"
            >
                {{ localize school }}
            </li>
        {{/each}}
    </ul>
</div>
