.u-bg-gray,
.u-hover-bg-gray:hover {
    background: var(--a5e-color-tertiary);
}

.u-bg-green,
.u-hover-bg-green:hover {
    background: var(--a5e-color-primary);
}

.u-bg-light,
.u-hover-bg-light:hover {
    background: var(--a5e-background-light);
}

.u-bg-light-green,
.u-hover-bg-light-green:hover {
    background: #c8e6c9;
}

.u-bg-red,
.u-hover-bg-red:hover {
    background: var(--a5e-color-error);
}

.u-bg-sheet,
.u-hover-bg-sheet:hover {
    background: var(--a5e-color-background-sheet);
}

.u-bg-none {
    background: none;
}
