// Font

.u-font {
  &-serif {
    font-family: --a5e-font-primary;
  }

  &-sans-serif {
    font-family: --a5e-font-sans-serif;
  }
}

// Font size

$font-sizes: (
  "xxs": var(--a5e-text-size-xxs),
  "xs": var(--a5e-text-size-xs),
  "sm": var(--a5e-text-size-sm),
  "md": var(--a5e-text-size-md),
  "lg": var(--a5e-text-size-lg),
  "xl": var(--a5e-text-size-xl),
  "xxl": var(--a5e-text-size-xxl),
  "xxxl": var(--a5e-text-size-xxxl)
);

.u-text {
  @each $label, $size in $font-sizes {
    &-#{$label} {
      font-size: $size;
    }
  }
}

// Text colour

.u-text-dark,
.u-hover-text-dark:hover {
  color: var(--a5e-color-text-dark);
}

.u-text-light,
.u-hover-text-light:hover {
  color: var(--a5e-color-text-light);
}

.u-text-medium,
.u-hover-text-medium:hover {
  color: var(--a5e-color-text-medium);
}

.u-text-inherit,
.u-hover-text-inherit:hover {
  color: inherit;
}

.u-text-green,
.u-hover-text-green:hover {
  color: var(--a5e-color-primary);
}

.u-text-red,
.u-hover-text-red:hover {
  color: var(--a5e-color-error);
}

// Text alignment

.u-text {
  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }
}

// Font style and transformations

.u-text {
  &-bold {
    font-weight: 700;
  }

  &-italic {
    font-style: italic;
  }

  &-uppercase {
    text-transform: uppercase;
  }
}

// Text Shadow

.u-text-shadow-none,
.u-hover-text-shadow-none:hover {
  text-shadow: none;
}
