.u-pointer {
  cursor: pointer;

  &-unset {
    cursor: unset;
  }
}

.u-transition {
  transition: var(--a5e-transition-standard);

  &-transform {
    transition: transform 0.15s ease-in-out;
  }
}
