<h1 id="modules">Modules</h1>
<p>In addition to the wealth of system agnostic modules available on Foundry, several modules have already been made specifically for Level Up. You can find a list of these packages below.</p>
<p>If you've developed a module for the Level Up system and would like it listed here, feel free to get in touch. You can find several ways to contact me in the <code>system.json</code>, or you can open a ticket if you'd prefer.</p>
<blockquote>
  <p><strong>Disclaimer.</strong> This page contains affiliate links. If you choose to make a purchase after clicking a link, we may receive a small amount of kickback from DriveThruRPG that will go towards developing and maintaining the A5e Foundry system and its modules.</p>
</blockquote>
<h2 id="freemodules">Free Modules</h2>
<h3 id="contentmodules">Content Modules</h3>
<h4 id="joshgentry">Josh Gentry</h4>
<ul>
<li><a href="https://foundryvtt.com/packages/a5e-ecology-of-gravitas-halloween">Ecology of Gravitas: Halloween Edition</a></li>
</ul>
<h3 id="utilitymodules">Utility Modules</h3>
<h4 id="nekrodarkmoon">Nekro Darkmoon</h4>
<ul>
<li><a href="https://github.com/NekroDarkmoon/does-it-hit-a5e">Does it hit!?</a> - A module to help with hit detection and limited damage automation.</li>
</ul>
<h2 id="premiummodules">Premium Modules</h2>
<h3 id="joshgentry-1">Josh Gentry</h3>
<ul>
<li><a href="https://bit.ly/4bo5FsM">Dose of Dungeonpunk - The Talos Heritage</a> - New construct heritage, new items, and a new spell for magically creating talos constructs.</li>
</ul>
<h3 id="purplemartingames">Purple Martin Games</h3>
<h4 id="thematictoolkit">Thematic Toolkit</h4>
<ul>
<li><a href="https://bit.ly/48SVn1R">Thematic Toolkit: Folk of the Court</a></li>
</ul>
<h2 id="includedinthesystem">Included in the System</h2>
<h3 id="acesadventuringguides">Ace's Adventuring Guides</h3>
<ul>
<li><a href="https://bit.ly/4bez8oK">Ace's Adventuring Guide to Necromancy</a></li>
</ul>
<h3 id="brokensynapsepress">Broken Synapse Press</h3>
<ul>
<li><a href="https://www.drivethrurpg.com/en/product/511672/corrosive-souls?affiliate_id=1388381">Corrosive Souls</a></li>
</ul>
<h3 id="dmsarah">DM Sarah</h3>
<ul>
<li><a href="https://bit.ly/3SmPaEv">Stranger Sights: Challenges for 5e and Advanced 5e</a></li>
</ul>
<h3 id="enpublishing">EN Publishing</h3>
<ul>
<li><a href="https://bit.ly/3u99LnT">Level Up: Adventures in ZEITGEIST</a></li>
<li><a href="https://bit.ly/42iQKvN">Level Up: To Save a Kingdom</a></li>
<li><a href="https://enpublishingrpg.com/products/the-haunting-of-calrow-ruins">The Haunting of Calrow Ruins</a></li>
<li><a href="https://www.drivethrurpg.com/en/product/486863/level-up-voidrunner-s-codex-a5e?affiliate_id=1388381">Voidrunner's Codex</a></li>
</ul>
<h4 id="core">Core</h4>
<ul>
<li><a href="https://bit.ly/3w15Iua">Level Up: Adventurer's Guide</a></li>
<li><a href="https://bit.ly/4bLImsK">Level Up: Dungeon Delver's Guide</a></li>
<li><a href="https://bit.ly/3T1jeqJ">Level Up: Monstrous Menagerie</a></li>
<li><a href="https://bit.ly/3w8ha7b">Level Up: Trials and Treasures</a></li>
</ul>
<h4 id="gatepassgazette">Gate Pass Gazette</h4>
<ul>
<li><a href="https://bit.ly/3HMhZW5">Level Up: Gate Pass Gazette Issue #0</a></li>
<li><a href="https://bit.ly/48YR8BZ">Level Up: Gate Pass Gazette Issue #1</a></li>
<li><a href="https://bit.ly/49hj181">Level Up: Gate Pass Gazette Issue #2</a></li>
<li><a href="https://bit.ly/49elHTS">Level Up: Gate Pass Gazette Issue #3</a></li>
<li><a href="https://bit.ly/4bo5Vbe">Level Up: Gate Pass Gazette Issue #4</a></li>
<li><a href="https://bit.ly/3uuw1sx">Level Up: Gate Pass Gazette Issue #5</a></li>
<li><a href="https://bit.ly/3SquHyB">Level Up: Gate Pass Gazette Issue #6</a></li>
<li><a href="https://bit.ly/4bEHc2h">Level Up: Gate Pass Gazette Issue #7</a></li>
<li><a href="https://bit.ly/3SNRHrB">Level Up: Gate Pass Gazette Issue #8</a></li>
<li><a href="https://bit.ly/3OvH2k2">Level Up: Gate Pass Gazette Issue #9</a></li>
<li><a href="https://bit.ly/42JSXR0">Level Up: Gate Pass Gazette Issue #10</a></li>
<li><a href="https://bit.ly/3OsnMnu">Level Up: Gate Pass Gazette Issue #11</a></li>
<li><a href="https://bit.ly/3uI2SKn">Level Up: Gate Pass Gazette Issue #12</a></li>
<li><a href="https://bit.ly/3T1ABHU">Level Up: Gate Pass Gazette Issue #13</a></li>
<li><a href="https://bit.ly/49kSzLo">Level Up: Gate Pass Gazette Issue #14</a></li>
<li><a href="https://bit.ly/49kSzLo">Level Up: Gate Pass Gazette Issue #15</a></li>
<li><a href="https://bit.ly/3IqpKBv">Level Up: Gate Pass Gazette Issue #16</a></li>
<li><a href="https://bit.ly/3uHrm6p">Level Up: Gate Pass Gazette Issue #17</a></li>
<li><a href="https://bit.ly/48pPGaX">Level Up: Gate Pass Gazette Issue #18</a></li>
<li><a href="https://bit.ly/4blqODO">Level Up: Gate Pass Gazette Issue #19</a></li>
<li><a href="https://bit.ly/49OPl2F">Level Up: Gate Pass Gazette Issue #20</a></li>
<li><a href="https://bit.ly/4c1jnCf">Level Up: Gate Pass Gazette Issue #21</a></li>
</ul>
<h3 id="koboldpress">Kobold Press</h3>
<ul>
<li><a href="https://bit.ly/3TfgMvP">Deep Magic Volume 1</a></li>
<li><a href="https://bit.ly/3v2z4Zf">Deep Magic Volume 2</a></li>
</ul>
<h3 id="loottheboss">LootTheBoss</h3>
<ul>
<li><a href="https://www.drivethrurpg.com/en/product/459022/advanced-artificers?affiliate_id=1388381">Advanced Artificers</a></li>
<li><a href="https://www.drivethrurpg.com/en/product/518648/wielder-class-a5e-pdf-and-foundry-vtt?affiliate_id=1388381">Wielder</a></li>
</ul>
<h3 id="owlsomegames">Owl(some) Games</h3>
<ul>
<li><a href="https://www.drivethrurpg.com/en/product/525752/fable-of-flames?affiliate_id=1388381">Fable of Flames</a></li>
<li><a href="https://www.drivethrurpg.com/en/product/524798/the-palette-of-heroes?affiliate_id=1388381">The Palette of Heroes</a></li>
</ul>
<h3 id="plantwitchpress">Plant Witch Press</h3>
<ul>
<li><a href="https://www.drivethrurpg.com/en/product/498763/bloody-heretics?affiliate_id=1388381">Bloody Heretics</a></li>
<li><a href="https://www.drivethrurpg.com/en/product/488835/Hearth--Home-Cozy-Cottage-Origins?affiliate_id=1388381">Hearth & Home</a></li>
<li><a href="https://www.drivethrurpg.com/en/product/528982/out-of-the-wilds-a5e?affiliate_id=1388381">Out of the Wilds</a></li>
<li><a href="https://bit.ly/3TvtZRl">Paradigms of Skill</a></li>
<li><a href="https://bit.ly/3HE10VQ">Toil and Trouble</a></li>
</ul>
<h3 id="purplemartingames-1">Purple Martin Games</h3>
<ul>
<li><a href="https://bit.ly/3xh28Nk">Riding Parsnip</a></li>
<li><a href="https://bit.ly/3SSNXoy">Sinuous Sentinels</a></li>
<li><a href="https://bit.ly/3T8o5GU">Spells from the Forgotten Vault</a></li>
<li><a href="https://bit.ly/4bgzU4N">System Architecture: Motif Classes</a></li>
</ul>
<h4 id="manualofadventurousresources">Manual of Adventurous Resources</h4>
<ul>
<li><a href="https://bit.ly/4b7Fsyi">Manual of Adventurous Resources: Complete</a></li>
</ul>
<h4 id="multiclassersmanual">Multiclasser's Manual</h4>
<ul>
<li><a href="https://bit.ly/3I3t0SW">Arcane Sniper</a> - The Arcane Sniper is a new archetype for rangers that allows you to bolster your archery with spells and infuse your arrows and bolts with powerful enchantments.</li>
<li><a href="https://preview.drivethrurpg.com/en/product/403897/confidence-mage-a5e?affiliate_id=1388381">Confidence Mage</a></li>
<li><a href="https://bit.ly/49D4FPF">Field Engineer</a></li>
<li><a href="https://preview.drivethrurpg.com/en/product/409471/fiery-justice-a5e?affiliate_id=1388381">Fiery Justice</a> - Two new archetypes (Berserkers &amp; Heralds), both centered on the fiery wrath of volcanoes.</li>
<li><a href="https://bit.ly/3I6n4Zj">Mortalist</a></li>
<li><a href="https://bit.ly/3JZTA08">Multiclasser's Manual, Volume 1</a></li>
<li><a href="https://www.drivethrurpg.com/en/product/500104/multiclasser-s-manual-volume-2-a5e?affiliate_id=1388381">Multiclasser's Manual, Volume 2</a></li>
<li><a href="https://preview.drivethrurpg.com/en/product/424846/spiritualist-a5e?affiliate_id=1388381">Spiritualist</a></li>
</ul>
<h4 id="singleclasssynergy">Single-Class Synergy</h4>
<ul>
<li><a href="https://www.drivethrurpg.com/en/product/521124/single-class-synergy-volume-1-the-core-four-a5e?affiliate_id=1388381">Single-Class Synergy, Volume 1: The Core Four</a></li>
<li><a href="https://www.drivethrurpg.com/en/product/526798/single-class-synergy-volume-2-singular-specialists-a5e?affiliate_id=1388381">Single-Class Synergy, Volume 2: Singular Specialists</a></li>
<li><a href="https://www.drivethrurpg.com/en/product/530315/single-class-synergy-volume-3-higher-callings-a5e?affiliate_id=1388381">Single-Class Synergy, Volume 3: Higher Callings</a></li>
</ul>
<h4 id="thematictoolkit-1">Thematic Toolkit</h4>
<ul>
<li><a href="https://preview.drivethrurpg.com/en/product/392599/thematic-toolkit-arcane-avenger-a5e?affiliate_id=1388381">Thematic Toolkit: Arcane Avenger</a> - New archetypes for the Herald and Sorcerer classes and a new synergy feat tree.</li>
<li><a href="https://bit.ly/48XRLfm">Thematic Toolkit: Burning Gloom</a></li>
<li><a href="https://bit.ly/480m03Y">Thematic Toolkit: Carry the Darkness</a></li>
<li><a href="https://preview.drivethrurpg.com/en/product/392588/thematic-toolkit-cultist-a5e?affiliate_id=1388381">Thematic Toolkit: Cultist</a> - New archetypes for the Cleric and Warlock classes and a new synergy feat tree.</li>
<li><a href="https://bit.ly/4d7WzRz">Thematic Toolkit: Hazardous Knowledge</a></li>
<li><a href="https://bit.ly/3Sidh7p">Thematic Toolkit: Itinerant</a></li>
<li><a href="https://bit.ly/42OmyZC">Thematic Toolkit: Judge, Jury, and Executioner</a> - New archetypes for the Berserker, Herald, and Warlock classes, new backgrounds, a whole bunch of synergy feats.</li>
<li><a href="https://preview.drivethrurpg.com/en/product/422460/thematic-toolkit-master-of-ceremonies-a5e?affiliate_id=1388381">Thematic Toolkit: Master of Ceremonies</a></li>
<li><a href="https://preview.drivethrurpg.com/en/product/412017/thematic-toolkit-scrapper-a5e?affiliate_id=1388381">Thematic Toolkit: Scrapper</a> - New archetypes for the Adept and Fighter classes and a new synergy feat tree.</li>
<li><a href="https://preview.drivethrurpg.com/en/product/407903/thematic-toolkit-storyteller-a5e?affiliate_id=1388381">Thematic Toolkit: Storyteller</a> - New archetypes for the Bard and Druid classes and a new synergy feat tree.</li>
<li><a href="https://preview.drivethrurpg.com/en/product/404207/thematic-toolkit-thunder-of-war-a5e?affiliate_id=1388381">Thematic Toolkit: Thunder of War</a> - New archetypes for the Berserker and Marshal classes and a new synergy feat tree.</li>
<li><a href="https://preview.drivethrurpg.com/en/product/400541/thematic-toolkit-venomous-shadow-a5e?affiliate_id=1388381">Thematic Toolkit: Venomous Shadow</a> - New archetypes for the Ranger, Rogue, and Wizard classes, a whole bunch of synergy feats, and a new combat maneuver tradition.</li>
</ul>
<h3 id="ravine">Ravine</h3>
<ul>
<li><a href="https://ravine.itch.io/a5e-subclass01-magus">Agent of the Magus</a></li>
<li><a href="https://ravine.itch.io/a5e-spells01-arcaneweapon">Hakan's Pamphlet to Arcane Weaponry</a></li>
<li><a href="https://ravine.itch.io/a5e-subclass03-errant-seer">The Errant Seer</a></li>
<li><a href="https://ravine.itch.io/a5e-subclass02-ruin-strider">The Ruin Strider</a></li>
<li><a href="https://ravine.itch.io/a5e-subclass04-spellbreaker">The Spellbreaker</a></li>
</ul>
<h3 id="rollthembonesgaming">Roll them Bones Gaming</h3>
<ul>
<li><a href="https://bit.ly/47UnJaV">Extra Credit and Deeper Mysteries</a></li>
<li><a href="https://bit.ly/3UevPrJ">Heroes Old and New</a></li>
<li><a href="https://bit.ly/42fLLM8">Mysterious and Marvelous Miscellanea</a></li>
</ul>
<h3 id="speaksandspellspublishing">Speaks and Spells Publishing</h3>
<ul>
<li><a href="https://bit.ly/3USEOix">Secrets of the Selkies</a></li>
<li><a href="https://bit.ly/49prJRm">Venture Forth</a></li>
</ul>
<h3 id="steampunkette">Steampunkette</h3>
<ul>
<li><a href="https://bit.ly/49bS1XH">Paranormal Power</a></li>
</ul>
<h3 id="variantcodexpress">Variant Codex Press</h3>
<ul>
<li><a href="https://www.drivethrurpg.com/en/product/507668/obscure-medicinals-for-level-up-a5e?affiliate_id=1388381">Obscure Medicinials</a></li>
<li><a href="https://www.drivethrurpg.com/en/product/510738/road-worthy-pursuits-expanded-edition-a5e-explorations?affiliate_id=1388381">Road Worthy Pursuits</a></li>
<li><a href="https://www.drivethrurpg.com/en/product/526974/the-pod-person-plague-an-ecology-of-gravitas-for-a5e?affiliate_id=1388381">The Pod Person Plague: An Ecology of Gravitas for A5E</a></li>
</ul>
<h3 id="wizardsofthecoast">Wizards of the Coast</h3>
<ul>
<li><a href="http://bit.ly/3DUPt5G">Dungeons & Dragons 5th Edition System Reference Document</a></li>
</ul>