.a5e-ability-score {
  display: grid;
  grid-template-areas:
    "header"
    "body";
  overflow: hidden;
  background: rgba(246, 242, 235, 0.15);

  &__body {
    display: grid;
    grid-template-areas: "value value"
      "check save";
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid #ccc;
    border-top: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-bottom: 0.375rem;
  }

  &__config-button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: fit-content;
    width: fit-content;
    padding: 0.25rem;
    font-size: var(--a5e-text-size-sm);
    background: transparent;
    color: rgba(255, 255, 255, 0.5);
    transition: var(--a5e-transition-standard);

    &:hover {
      color: var(--color-text-light);
      box-shadow: none;
    }
  }

  &__header {
    position: relative;
    grid-area: header;
    padding: 0.25rem 0.5rem;
    font-size: var(--a5e-text-size-sm);
    color: #f6f2eb;
    background: #425f65;
    border: 1px solid #3e4240;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    box-shadow: 0 0 10px #2e4246 inset;
    text-align: center;
    text-transform: uppercase;
  }

  &__label {
    font-size: inherit;
    font-family: inherit;
  }

  &__value[type="number"] {
    grid-area: value;
    height: fit-content;
    width: 100%;
    padding: 0.25rem 0.25rem 0.125rem;
    font-size: var(--a5e-text-size-lg);
    line-height: 1;
    text-align: center;
    color: var(--color-text);
    background: transparent;
    border: 0;
    border-radius: 0;

    &:active,
    &:focus {
      box-shadow: none;
    }
  }

  &__roll-button {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1.75rem;
    margin: 0;
    padding: 0 0 0.25rem;
    background: transparent;
    border-radius: 0;
    text-align: center;
    font-family: inherit;
    font-size: var(--a5e-text-size-sm);

    &:focus,
    &:hover {
      box-shadow: none;
    }

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font: var(--fa-font-solid);
      font-size: var(--a5e-text-size-xxl);
      color: rgba(0, 0, 0, 0.15);
    }

    &--check {
      grid-area: check;

      &::after {
        content: "\f111";
      }
    }

    &--no-click {
      cursor: default;
    }

    &--save {
      grid-area: save;

      &::after {
        content: "\f132";
      }
    }

    &--proficient {
      color: #f6f2eb;

      &::after {
        color: #425f65;
      }
    }

  &__roll-button-label {
    width: 100%;
    line-height: 1;
  }

  &__roll-button-value {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    line-height: 1;
    z-index: 1;
  }
  }
}
