.a5e-ability-score {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 0;
  font-family: $font-primary;
  font-weight: 300;

  &__value[type='number'] {
    border: 0;
    margin-bottom: 0;
    background: none;
    font-size: $font-size-xl;
    font-weight: inherit;
    text-align: center;

    &:focus {
      box-shadow: none;
    }

    &::placeholder {
      color: lighten(#191813, 35%);
    }
  }

  &__value--ac[type='number'] {
    margin-bottom: 1rem;
    font-size: $font-size-xxl;
  }

  &__label {
    margin-bottom: 0;
    font-size: $font-size-lg;
    font-weight: inherit;
  }

  &__buttons {
    display: flex;
    width: 100%;
    height: 1.5rem;
    align-items: center;
    justify-content: space-around;
    font-size: $font-size-md;

    &--centre {
      justify-content: center;
    }
  }

  &__roll-button {
    position: relative;
    display: flex;
    width: 1.5rem;
    height: 1.5rem;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    background: $color-sheet-background;
    border-radius: 100px;
    box-shadow: 0 0 7.5px #ccc inset;
    cursor: pointer;

    &:hover > .a5e-tooltip {
      display: block;
      opacity: 1;
    }
  }
}
