.a5e-area-templates {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: $font-primary;
  font-size: $font-size-md;
  gap: 1rem;

  &__button {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 0.75rem;
    border: 1px solid #7a7971;
    border-radius: $border-radius-standard;
    cursor: pointer;
    gap: 0.75rem;
    text-align: center;
    transition: $standard-transition;

    &:hover {
      background: darken(#dddace, 2.5%);
    }
  }

  :checked + &__button {
    border-color: darken($color-primary, 5%);
    background: $color-primary;
    color: lighten($color-primary, 80%);
  }
}
