.a5e-button {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    width: 100%;
    cursor: pointer;
    background: var(--a5e-button-regular);
    color: var(--a5e-color-text-dark);
    transition: var(--a5e-transition-standard);

    &:disabled {
        cursor: not-allowed;
    }

    &:hover,
    &:focus {
        background: var(--a5e-button-regular-hover);
        box-shadow: none;
        outline: none;
    }

    &--config {
        background: transparent;
        width: fit-content;
        border: 0;
        padding: 0;
        margin: 0;
        font-size: var(--a5e-text-size-sm);
        color: var(--a5e-button-gray);

        &:focus,
        &:hover {
            background: transparent;
            transform: scale(1.2);
            color: var(--a5e-button-gray-hover);
            box-shadow: none;
        }
    }
}
