.a5e-button {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }

  &--add {
    background: none;
    font-size: 0.833rem;
    border: 0;
    padding: 0;
    width: fit-content;

    &:hover,
    &:focus {
      box-shadow: none;
      text-shadow: 0 0 8px var(--color-shadow-primary);
    }
  }

  &--delete {
    background: none;
    font-size: 0.833rem;
    width: fit-content;
    border: 0;
    padding: 0;
    color: #999;
    transition: all 0.15s ease-in-out;

    &:hover,
    &:focus {
      color: #8b2525;
      transform: scale(1.2);
      box-shadow: none;
    }
  }

  &--edit-config {
    position: absolute;
    width: fit-content;
    background: none;
    font-size: 0.833rem;
    border: 0;
    padding: 0;
    transition: all 0.15s ease-in-out;
    color: rgba(0, 0, 0, 0.2);

    &:hover,
    &:focus {
      color: #555;
      transform: scale(1.2);
      box-shadow: none;
    }
  }

  &--add-item,
  &--chat,
  &--filter-reset {
    display: block;
    width: fit-content;
    flex-shrink: 0;
    padding: 0.125rem 0.5rem;
    background: $color-primary;
    border-radius: $border-radius-standard;
    color: lighten($color-primary, 80%);

    &:hover {
      text-shadow: none;
    }
  }

  &--add-item {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-size: $font-size-xs;
  }

  &--chat,
  &--filter-reset {
    width: 100%;
    padding: 0.375rem;
    font-size: $font-size-sm;
    text-align: center;
  }

  &--filter-reset {
    margin-top: auto;
  }

  &--right {
    margin-left: auto;
  }

  &--no-shadow,
  &--no-shadow:active,
  &--no-shadow:focus,
  &--no-shadow:hover {
    box-shadow: none;
  }
}
