.a5e-card-header {
  display: grid;
  grid-template-areas: "image title critToggle";
  grid-template-columns: 2.5rem 1fr min-content;
  justify-content: start;
  align-items: center;
  column-gap: 0.5rem;
  align-items: center;
  padding-block: 0.25rem var(--bottom-padding, 0.5rem);

  &--clickable {
    cursor: pointer;
  }

  &--subtitle {
    grid-template-areas:
      "image title critToggle"
      "image subtitle critToggle";
  }

  &__crit-toggle-button {
    grid-area: critToggle;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    margin-left: auto;
    font-size: 1rem;
    color: #7e7960;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: var(--a5e-transition-standard);

    &:hover {
      color: #191813;
      box-shadow: none;
    }

    &--crit {
      border-color: darken($color-secondary, 5%);
      background: $color-secondary;
      color: lighten($color-secondary, 95%);

      &:hover {
          color: #fedd9e;
      }
    }
  }

  &__image {
    width: 2.5rem;
    height: 2.5rem;
    grid-area: image;
    border: 0;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.4);
  }

  &__subtitle {
    font-size: var(--a5e-text-size-sm);
    color: #7e7960;
    grid-area: subtitle;
  }

  &__subtitle,
  &__title {
    margin-bottom: 0;
    border-bottom: 0;
  }

  &__title {
    font-size: var(--a5e-text-size-md);
    font-family: var(--a5e-font-serif);
    font-weight: bold;
    grid-area: title;
  }
}
