#chat-log .message {
  position: relative;
  padding-bottom: 0;
  background: #ede9e0;

  p {
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.chat-message .message-content {
  margin-bottom: 0.5rem;
}
