.a5efc-filter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26px;
  width: 26px;
  padding: 0;
  font-size: var(--a5e-text-size-md);
  line-height: 1;
  color: var(--a5e-button-gray) !important;
  background: transparent !important; //TODO: App v2
  border: 0;

  transition: var(--a5e-transition-standard);

  &:focus,
  &:hover {
    box-shadow: none;
  }

  &:hover {
    color: var(--a5e-button-gray-hover) !important;
    transform: scale(1.2);
  }

  &--active {
    color: var(--a5e-color-primary);

    &:hover {
      color: var(--a5e-color-primary);
    }
  }

  &__icon {
    margin: 0;
    padding: 0;
  }
}
