.a5efc-filter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26px;
  width: 26px;
  padding: 0;
  font-size: 1rem;
  line-height: 1;
  color: #888;
  background: transparent;
  border: 0;

  transition: var(--a5e-transition-standard);

  &:focus,
  &:hover {
    box-shadow: none;
  }

  &:hover {
    color: #191813;
    transform: scale(1.2);
  }

  &--active {
    color: #425f65;

    &:hover {
      color: #425f65;
    }
  }

  &__icon {
    margin: 0;
    padding: 0;
  }
}
