/* stylelint-disable selector-max-compound-selectors */
/* stylelint-disable selector-max-id */
#token-hud .status-effects {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  font-size: var(--a5e-text-size-lg);
  line-height: 1.2rem;
  padding-inline: 0.75rem;
  width: max-content;
}
