.a5e-currency-list {
  &__input[type='text'] {
    width: 3rem;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    background: transparent;
    font-size: inherit;
    text-align: center;
  }

  &__label {
    text-transform: uppercase;
  }
}
