.a5e-details-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    padding: 0.125rem 0;

    color: var(--a5e-text-color-medium);
    border: 1px solid var(--a5e-border-color);
    border-radius: 4px;
    background-color: var(--a5e-background-light);
    box-shadow: 0 0 5px var(--a5e-shadow-color) inset;

    text-align: center;

    &__label {
        font-family: var(--a5e-condensed-font);
        font-size: var(--a5e-xs-text);
    }

    &__input {
        text-align: center;
        border: none;
        background: transparent;
        padding-inline: 0.25rem;
        font-size: var(--a5e-md-text);

        &:active,
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    &__button {
        text-align: center;
        border: none;
        padding: 0.125rem 0.25rem;
        font-size: var(--a5e-md-text);
        background-color: transparent;
        cursor: pointer;
        color: var(--a5e-text-color-medium);
        transition: var(--a5e-transition-standard);

        &:focus,
        &:hover {
            color: var(--a5e-text-color-dark);
        }

        &--selected {
            color: var(--a5e-text-color-dark);
        }
    }
}
