.a5e-dice-tooltip {
  display: none;

  &__formula {
    display: flex;
    height: 1.5rem;
    flex-grow: 1;
    align-items: center;
    border-bottom: 1px solid #ccc;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
  }

  &__part {
    margin-bottom: 0.5rem;
  }

  &__rolls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0.25rem 0;
    gap: 0.25rem;
    list-style: none;
  }

  &__total {
    display: flex;
    min-width: 1.5rem;
    height: 1.5rem;
    align-items: center;
    justify-content: center;
    padding: 0 0.25rem;
    border: 1px solid #ccc;
    background: rgba(0, 0, 0, 0.05);
    border-top-left-radius: $border-radius-standard;
    border-top-right-radius: $border-radius-standard;
  }
}
