$die-sizes: 4, 6, 8, 10, 12, 20;

.a5e-die {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  background-repeat: no-repeat;
  background-size: 1.5rem 1.5rem;
  color: #000;
  font-size: var(--a5e-text-size-md);
  font-weight: bold;
  line-height: 1;
  text-align: center;

  &--discarded {
    filter: sepia(0.5) contrast(0.75) opacity(0.4);
  }

  &--min {
    color: #aa0200;
    filter: sepia(0.5) hue-rotate(-60deg);
  }

  &--max {
    color: #18520b;
    filter: sepia(0.5) hue-rotate(60deg);
  }

  @each $size in $die-sizes {
    &--#{$size} {
      background-image: url("/icons/svg/d#{$size}-grey.svg");
    }
  }
}
