.a5e-document-source-tooltip {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;

  &__notice {
    margin: 0;
    font-size: var(--a5e-text-size-xs);
    font-style: italic;
  }
}
