.a5e-editor {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  p:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.a5e-sheet {
  .editor-content,
  .description-wrapper {
    color: #000;

    h1 {
      font-size: 2em;
      border-bottom: 2px solid var(--color-underline-header);
    }

    h2 {
      font-size: 1.5em;
      border-bottom: 1px solid var(--color-underline-header);
    }

    h3 {
      font-size: 1.25em;
      border-bottom: 1px solid var(--color-underline-header);
    }

    blockquote {
      margin: 0.5em 0 0.5em 10px;
      padding: 0 0 0 20px;
      border-left: 3px solid var(--color-border-light-tertiary);
      font-style: italic;
    }

    h1,
    h2,
    h3,
    h4,
    blockquote,
    p {
      &:not(:last-child) {
        margin-bottom: 0.5rem;
        line-height: 1.2;
      }
    }
  }
}
