.a5e-sheet .editor {
  height: 100%;
  border: 1px solid #d0d0d0;
  border-radius: $border-radius-standard;
}

.a5e-sheet .editor-content {
  padding: 0.5rem;
}

.a5e-sheet .tox.tox-tinymce {
  height: 100% !important;
}

.tox .tox-toolbar-overlord .tox-toolbar__primary {
  padding: 0 0.25rem;
}
