.a5e-enricher {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;

  padding: 0.25rem 0.5rem;
  background-color: var(--a5e-color-primary);

  color: var(--a5e-color-text-light);
  font-size: var(--a5e-text-size-xs);
  border: 0;

  transition: var(--a5e-transition-standard);

  &:hover {
    text-shadow: none;
    color: #fedd9e;
    cursor: pointer;
  }

  &--invalid {
    background-color: var(--a5e-color-error);

    &:hover {
      cursor: default;
      color: var(--a5e-color-text-light);
    }
  }

  &__dc {
    border: 1px dashed var(--a5e-color-disabled);
    padding-inline: 0.125rem;
    margin-right: 0.2em;
  }

  i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    font-size: var(--a5e-text-size-sm);
    margin-right: 0.5em;
  }

  img {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5em;
  }
}
