// Adds the markers for exceptional expertise bonus to a radio group.

.a5e-expertise {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    left: 13.75rem;
    display: block;
    width: 6.875rem;
    height: 0.25rem;
    border: 1px dashed #127c10;
    content: '';
  }

  &::before {
    top: -0.5rem;
    border-bottom: 0;
  }

  &::after {
    bottom: -0.5rem;
    border-top: 0;
  }
}
