.a5e-field-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  &--checkbox {
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }

  &--formula {
    flex-grow: 1;
  }

  &--label {
    margin-right: 4.5rem;
  }

  &__heading {
    font-size: $font-size-sm;
  }

  &__hint {
    font-size: 0.694rem;
  }

  /* stylelint-disable-next-line selector-no-qualifying-type */
  input[type='text'],
  input[type='number'] {
    width: 100%;
  }
}
