.a5e-field-wrapper {
  position: relative;
  display: flex;
  flex-direction: var(--a5e-field-wrapper-direction, column);
  flex-wrap: var(--a5e-field-wrapper-wrap, wrap);
  flex-grow: var(--a5e-field-wrapper-grow, 0);
  align-items: var(--a5e-field-wrapper-item-alignment, initial);
  justify-content: var(--a5e-field-wrapper-item-justification, initial);
  gap: var(--a5e-field-wrapper-gap, 0.375rem);
  margin: var(--a5e-field-wrapper-margin, 0);
  padding: var(--a5e-field-wrapper-padding, 0);
  background: var(--a5e-field-wrapper-background, transparent);
  border: var(--a5e-field-wrapper-border, none);
  border-radius: var(--a5e-field-wrapper-border-radius, var(--a5e-border-radius-standard), initial);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__header-button-wrapper {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  &__header-button {
    background: transparent;

    &:hover {
      box-shadow: none;
    }
  }

  &__heading {
    font-family: var(--a5e-field-wrapper-heading-font, var(--a5e-font-serif));
    font-size: var(--a5e-field-wrapper-heading-size, var(--a5e-text-size-sm));
    font-weight: var(--a5e-field-wrapper-heading-weight, 400);
    flex-shrink: 1;
    width: var(--a5e-field-wrapper-label-width, auto);
    border-bottom: 0;
    margin-bottom: 0;
  }

  &__hint,
  &__warning {
    display: block;
    width: 100%;
    padding-right: 0.25rem;
    font-family: var(--a5e-field-wrapper-info-font, var(--a5e-font-sans-serif));
    font-size: var(--a5e-field-wrapper-info-text-size, var(--a5e-text-size-xs));
  }

  &__warning {
    color: var(--a5e-field-wrapper-color-warning, var(--a5e-color-warning));
  }
}
