.a5e-footer-group {
    &__input {
        width: 2rem;
        height: 1.5rem;
        border: 0.5px solid var(--a5e-border-color);
        background: transparent;
        font-size: inherit;
        text-align: center;
        padding: 0 0.5rem;
    }

    &--attunement {
        width: 1.5rem;
    }

    &--currency,
    &--currency {
        width: 3rem;
    }

    &__value {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        min-width: fit-content;
        height: 1.5rem;
        padding: 1px 0.5rem;
        border: 0.5px solid var(--a5e-border-color);
        background: transparent;
        border-radius: var(--a5e-border-radius-standard);

        &--attunement {
            width: 1.25rem;
        }
    }
}
