.a5e-footer-group {
  &__input {
    &[type=number] {
      width: 2rem;
      height: 1.5rem;
      border: 0.5px solid rgba(0, 0, 0, 0.1);
      background: transparent;
      font-size: inherit;
      text-align: center;
      padding: 0 0.5rem;
    }

    &--attunement[type=number] {
      width: 1.5rem;
    }

    &--currency[type=number] {
      width: 3rem;
    }
  }

  &__value {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    min-width: fit-content;
    height: 1.5rem;
    padding: 1px 0.5rem;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    background: transparent;
    border-radius: $border-radius-standard;

    &--attunement {
      width: 1.25rem;
    }
  }
}
