.a5e-form {
  min-width: 20rem;
  padding: 0.75rem 1rem;
  background: rgba(246, 242, 235, 0.6);
  font-family: $font-primary, 'Modesto Condensed';

  &--reactive-dialog {
    max-width: 26rem;
  }

  &__section {
    margin-bottom: 1rem;
    font-family: $font-primary, 'Modesto Condensed';

    &--inline {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
    }

    &--reduced-margin {
      margin-bottom: 0.5rem;
    }

    &--no-margin {
      margin-bottom: 0;
    }

    &--bio {
      display: flex;
      width: 100%;
      flex-grow: 1;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0;
      gap: 0.5rem;
    }

    &--bio-wrapper {
      display: grid;
      gap: 0.5rem 2rem;
      grid-area: details;
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__label-container {
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem;
    font-family: $font-secondary;
    font-size: $font-size-xs;
    gap: 0.5rem;
  }

  &__hint {
    display: block;
    margin-top: 0.25rem;
    font-family: $font-secondary;
    font-size: $font-size-xs;
  }

  &__input-label {
    font-family: $font-secondary;
    font-size: $font-size-sm;
    font-weight: 700;

    &--filter {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    &--extra-space {
      margin-bottom: 0.75rem;
    }

    &--inline {
      flex-shrink: 0;
      margin-bottom: 0;
    }
  }
}
