.a5e-form {
  min-width: 20rem;
  background: rgba(246, 242, 235, 0.6);

  &--reactive-dialog {
    max-width: 26rem;
  }

  &__section {
    margin-bottom: 1rem;

    &--inline {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
    }

    &--reduced-margin {
      margin-bottom: 0.5rem;
    }

    &--no-margin {
      margin-bottom: 0;
    }

    &--bio-wrapper {
      display: grid;
      gap: 0.5rem 2rem;
      grid-area: details;
      grid-template-columns: repeat(auto-fit, minmax(8.5rem, 1fr));
    }
  }

  &__hint {
    display: block;
    margin-top: 0.25rem;
    font-family: $font-secondary;
    font-size: $font-size-xs;
  }

  &__input-label {
    &--filter {
      &::before {
        content: '\002B';
      }
    }

    &--active-filter::before {
      content: '\2212';
    }
  }
}
