.a5e-heading {
  width: 100%;
  border: 0;
  font-family: $font-primary;
  font-size: $font-size-lg;

  &--card {
    font-size: $font-size-xl;
  }

  &--center {
    text-align: center;
  }

  &--details {
    margin-bottom: 0.25rem;
    font-family: $font-secondary;
    font-size: $font-size-sm;
    font-weight: 700;
  }

  &--form {
    margin-bottom: 0.75rem;
    font-size: $font-size-xl;
  }

  &--card,
  &--filter,
  &--item-group {
    margin-bottom: 0;
  }

  &--item-group {
    width: fit-content;
  }

  &--name {
    font-size: $font-size-xxxl;
  }

  &--small {
    width: fit-content;
    margin-bottom: 0;
    font-family: $font-secondary;
    font-size: $font-size-sm;
    font-weight: 700;
  }
}
