.a5e-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
  margin: 0 1rem 0.5rem 0;

  &--core-features {
    margin-right: 0;
  }

  &--spells {
    justify-content: initial;
    gap: 1rem;
  }
}
