$die-sizes: 6, 8, 10, 12;

.a5e-hit-die-wrapper {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.a5e-hit-die {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 1px solid #7a7971;
  border-radius: $border-radius-standard;

  &--rollable {
    cursor: pointer;

    &:hover {
      background: darken(#dddace, 2.5%);
    }
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  @each $size in $die-sizes {
    &--d#{$size}::before {
      background-image: url('/icons/svg/d#{$size}-grey.svg');
    }

    &::before {
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 2rem 2rem;
      content: '';
      opacity: 0.5;
    }
  }

  &__label {
    z-index: 1;
    font-size: $font-size-lg;
  }

  &__input-container {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  &__quantity,
  &__quantity[type=number] {
    display: flex;
    width: 2rem;
    height: 1.5rem;
    align-items: center;
    justify-content: center;
    border: 0;
    background: rgba(0, 0, 0, 0.05);
    border-radius: $border-radius-standard;
    text-align: center;
  }
}
