.placeable-hud .col {
  gap: 1rem;

  > * {
    margin: 0;
  }
}

#token-hud .attribute.elevation {
  margin: 0;
}

.placeable-hud .a5e-armorclass {
  flex: 0 0 40px;
  width: 3rem;
  box-sizing: content-box;
  line-height: 3rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: var(--color-text-light-3);
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid #333;
  border-radius: 50% 50% 50% 50% / 12% 12% 88% 88%;
  box-shadow: 0 0 15px var(--color-shadow-dark);
  outline: 1px solid #ccc;
}
