.a5e-image {
  border: 0;
  border-radius: 50%;
  cursor: pointer;

  &--actor-header {
    width: 10rem;
    height: 10rem;
    border: 2px solid #808080;
  }

  &--card {
    width: 2.5rem;
    height: 2.5rem;
  }

  &--item-header {
    width: 4rem;
    height: 4rem;
  }

  &--item-inline {
    width: 1.8rem;
    height: 1.8rem;
  }
}
