.a5e-import-from-compendium-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 1.1rem;
  font-size: inherit;
  color: #bbbab2;
  border: 0;
  border-radius: 0;
  background: transparent;
  transition: all 0.15s ease-in-out;

  &:hover {
    box-shadow: none;
    color: #555;
    transform: scale(1.2);
  }
}
