.a5e-item {
  /** Variables**/
  --icon-color: var(--a5e-item-list-item-icon-color);
  --icon-color-active: var(--a5e-item-list-item-icon-color-active);
  --indicator-background: var(--a5e-item-list-item-indicator-background);
  --indicator-text-color: var(--a5e-item-list-item-indicator-color);
  --input-border-color: var(--a5e-item-list-item-input-border-color);
  --item-background: var(--a5e-item-list-item-background-end);
  --item-border-color-end: var(--a5e-item-list-item-border-color-end);
  --item-border-color-start: var(--a5e-item-list-item-border-color-start);
  --track-background: var(--a5e-item-list-item-track-background);
  --track-border-color: var(--a5e-item-list-item-track-border-color);

  /** CSS**/
  position: relative;
  display: grid;
  grid-template-areas: var(--itemTemplateAreas);
  grid-template-columns: var(--itemTemplateColumns);
  gap: 0 0.5rem;
  align-items: center;
  width: 100%;
  padding: 0.125rem 0.5rem 0.125rem 0.125rem;
  font-family: var(--a5e-font-serif);
  font-size: var(--a5e-text-size-sm);
  border: solid transparent;
  border-width: 0 0 1px;
  border-image: linear-gradient(90deg,
  var(--item-border-color-start) 0%,
  var(--item-border-color-end) 55%)
    1 repeat;
  border-radius: 0;
  background: linear-gradient(90deg, transparent, var(--item-background, transparent) 70%);
  cursor: pointer;

  &--action,
  &--bonus {
    grid-template-columns: 1.375rem 1fr min-content;
  }

  &--action-config,
  &--effect-config {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: stretch;
    gap: 0.75rem;
    width: 100%;
    padding: 0.5rem 0;
  }

  &--action-config {
    overflow: clip;
  }

  &--compendium-document {
    grid-template-areas:
      'img name import delete'
      'img details import delete';
    grid-template-columns: max-content 1fr min-content;
  }

  &--compendium-spell-document {
    grid-template-areas:
      'img name components import delete'
      'img details components import delete';
    grid-template-columns: max-content 1fr max-content min-content min-content;
  }

  &--effect {
    grid-template-areas: var(--effectTemplateAreas);
    grid-template-columns: var(--effectTemplateColumns);
  }

  &--grant {
    grid-template-areas: var(--grantTemplateAreas);
    grid-template-columns: var(--grantTemplateColumns);
  }

  &--party-member {
    grid-template-areas: var(--grid-areas);
    grid-template-columns: var(--grid-template);
    padding: 0.125rem;
  }

  &--highlight {
    // --icon-color: hsla(145, 100%, 15%, 0.302);
    // --icon-color-active: hsla(145, 100%, 15%, 0.75);
    // --indicator-background: hsla(145, 100%, 32%, 0.302);
    // --indicator-text-color: #000;
    // --input-border-color: hsla(145, 100%, 15%, 0.302);
    // --item-background: hsla(145, 100%, 42%, 0.302);
    // --item-border-color-end: hsla(145, 100%, 25%, 0.302);
    // --item-border-color-start: hsla(145, 100%, 42%, 0);
    // --track-background: hsl(120, 43%, 87%);
    // --track-border-color: hsla(145, 100%, 25%, 0.302);

    --icon-color: var(--a5e-item-list-item-icon-color-highlight);
    --icon-color-active: var(--a5e-item-list-item-icon-color-active-highlight);
    --indicator-background: var(--a5e-item-list-item-indicator-background-highlight);
    --indicator-text-color: var(--a5e-item-list-item-indicator-color-highlight);
    --input-border-color: var(--a5e-item-list-item-input-border-color-highlight);
    --item-background: var(--a5e-item-list-item-background-end-highlight);
    --item-border-color-end: var(--a5e-item-list-item-border-color-end-highlight);
    --item-border-color-start: var(--a5e-item-list-item-border-color-start-highlight);
    --track-background: var(--a5e-item-list-item-track-background-highlight);
    --track-border-color: var(--a5e-item-list-item-track-border-color-highlight);
  }

  &--purple-highlight {
    // --icon-color: hsla(260, 50%, 40%, 0.302);
    // --icon-color-active: hsla(280, 35%, 30%, 0.75);
    // --indicator-background: hsla(280, 55%, 50%, 0.302);
    // --indicator-text-color: #000;
    // --input-border-color: hsla(280, 75%, 60%, 0.302);
    // --item-background: hsla(280, 75%, 60%, 0.22);
    // --item-border-color-end: hsla(280, 30%, 40%, 0.302);
    // --item-border-color-start: hsla(280, 75%, 60%, 0);
    // --track-background: hsl(280, 30%, 90%);
    // --track-border-color: hsla(280, 30%, 40%, 0.302);

    --icon-color: var(--a5e-item-list-item-icon-color-highlight-purple);
    --icon-color-active: var(--a5e-item-list-item-icon-color-active-highlight-purple);
    --indicator-background: var(--a5e-item-list-item-indicator-background-highlight-purple);
    --indicator-text-color: var(--a5e-item-list-item-indicator-color-highlight-purple);
    --input-border-color: var(--a5e-item-list-item-input-border-color-highlight-purple);
    --item-background: var(--a5e-item-list-item-background-end-highlight-purple);
    --item-border-color-end: var(--a5e-item-list-item-border-color-end-highlight-purple);
    --item-border-color-start: var(--a5e-item-list-item-border-color-start-highlight-purple);
    --track-background: var(--a5e-item-list-item-track-background-highlight-purple);
    --track-border-color: var(--a5e-item-list-item-track-border-color-highlight-purple);
  }

  &--red-highlight {
    --icon-color: hsla(0, 65%, 35%, 0.5);
    --icon-color-active: hsla(0, 35%, 30%, 0.75);
    --indicator-background: hsla(0, 55%, 50%, 0.302);
    --indicator-text-color: #000;
    --input-border-color: hsla(0, 50%, 35%, 0.17);
    --item-background: hsla(0, 55%, 55%, 0.3);
    --item-border-color-end: hsla(0, 40%, 50%, 0.302);
    --item-border-color-start: hsla(0, 55%, 55%, 0);
    --track-background: hsl(0, 30%, 90%);
    --track-border-color: hsla(0, 40%, 50%, 0.302);

    --icon-color: var(--a5e-item-list-item-icon-color-highlight-red);
    --icon-color-active: var(--a5e-item-list-item-icon-color-active-highlight-red);
    --indicator-background: var(--a5e-item-list-item-indicator-background-highlight-red);
    --indicator-text-color: var(--a5e-item-list-item-indicator-color-highlight-red);
    --input-border-color: var(--a5e-item-list-item-input-border-color-highlight-red);
    --item-background: var(--a5e-item-list-item-background-end-highlight-red);
    --item-border-color-end: var(--a5e-item-list-item-border-color-end-highlight-red);
    --item-border-color-start: var(--a5e-item-list-item-border-color-start-highlight-red);
    --track-background: var(--a5e-item-list-item-track-background-highlight-red);
    --track-border-color: var(--a5e-item-list-item-track-border-color-highlight-red);
  }

  &__details {
    font-family: var(--a5e-font-sans-serif);
    grid-area: details;
    line-height: 1;
    color: #666;
    font-size: var(--a5e-text-size-xs);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__icon {
    color: #888;
    font-size: var(--a5e-text-size-sm);
  }

  &__image {
    display: block;
    height: 100%;
    width: auto;
    object-fit: cover;

    &--action {
      width: 1.375rem;
      height: 1.375rem;
    }

    &--compendium-document {
      height: 2.25rem;
      width: 2.25rem;
      grid-area: img;
      border: 0;
    }

    &--die {
      display: none;
      padding: 0;
      margin: 0;
    }
  }

  &__name {
    font-size: var(--a5e-text-size-sm);

    &--compendium-document {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      grid-area: name;
      margin: 0;
      border: 0;
      font-size: inherit;
      font-weight: bold;
      line-height: 1;
    }
  }

  &__roll-button {
    width: 1.375rem;
    height: 1.375rem;
    padding: 0;
    margin: 0;
    background: transparent;
    border-radius: var(--a5e-border-radius-standard);

    &:hover {
      box-shadow: none;
    }

    /* stylelint-disable-next-line selector-class-pattern */
    &:hover .a5e-item__image {
      display: none;
    }

    /* stylelint-disable-next-line selector-class-pattern  */
    &:hover .a5e-item__image--die {
      display: block;
    }

    &--shift:hover {
      filter: brightness(0) saturate(100%) invert(58%) sepia(10%) saturate(2832%) hue-rotate(73deg) brightness(88%)
        contrast(76%);
    }

    &--ctrl:hover {
      filter: brightness(0) saturate(100%) invert(18%) sepia(80%) saturate(5142%) hue-rotate(348deg) brightness(74%)
        contrast(94%);
    }
  }

  &__source-tag[href] {
    display: inline-block;
    margin-right: 0.25rem;
    padding: 0.1rem 0.375rem;
    font-size: var(--a5e-text-size-xxs);
    background: rgba(0 0 0 / 0.05);
    border: 1px solid #ccc;
    color: #000;
    border-radius: var(--a5e-border-radius-standard);
    text-decoration: none;

    &:hover,
    &:focus {
      text-shadow: none;
    }
  }
}
