.a5e-party-sheet {
    &__actor-img {
        width: 1.75rem;
        aspect-ratio: 1 / 1;
        margin: 0;
        padding: 0;
        object-fit: cover;
        object-position: 50% 0;
    }

    &__core {
        display: grid;
        grid-template-columns: 1.75rem 1fr 4rem repeat(6, 3rem) 4rem 2rem;
        grid-template-areas: "img name hp ac maneuverDC spellDC per ins inv xp delete";
    }

    &__tab-header {
        &__elem {
            font-size: var(--a5e-sm-text);
            text-align: center;
        }
    }
}
