.a5e-radio-group {
  display: flex;
  font-size: $font-size-md;
  font-weight: 300;
  gap: 0.5rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;

  &--area-templates {
    align-items: center;
    font-family: $font-primary;
    gap: 1rem;
  }

  &--expertise {
    position: relative;

    &::before,
    &::after {
      position: absolute;
      left: 13.75rem;
      display: block;
      width: 6.875rem;
      height: 0.25rem;
      border: 1px dashed #127c10;
      content: '';
    }

    &::before {
      top: -0.5rem;
      border-bottom: 0;
    }

    &::after {
      bottom: -0.5rem;
      border-top: 0;
    }
  }

  &--skills {
    flex-wrap: wrap;
  }

  &__button {
    display: flex;
    min-width: 3rem;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    border: 1px solid #7a7971;
    border-radius: $border-radius-standard;
    cursor: pointer;
    gap: 0.75rem;
    text-align: center;
    transition: $standard-transition;


    &:hover {
      background: darken(#dddace, 2.5%);
    }

    &--area-templates,
    &--full-width {
      flex: 1 1 100%;
    }

    &--area-templates {
      flex-direction: column;
      padding: 0.75rem;
    }
  }

  :checked + &__button {
    border-color: darken($color-primary, 5%);
    background: $color-primary;
    color: lighten($color-primary, 80%);
  }
}
