.a5e-resources-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    width: 100%;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}


.a5e-resource {
    position: relative;
    padding: 0.125rem 0.25rem 0.25rem 0.25rem;
    border: 1px solid var(--a5e-border-color);
    border-radius: var(--a5e-border-radius-standard);
    min-width: 7rem;

    &__header {
        display: flex;
        gap: 0.125rem;
    }

    &__label {
        padding: 0;
        border: 0;
        background: transparent;
        text-align: center;
        text-overflow: ellipsis;

        &:active,
        &:focus {
            box-shadow: none;
        }
    }

    &__value-container {
        display: flex;
        align-items: center;
        gap: 0.25rem;
    }

    &__number-input {
        padding: 0 0.5rem;
        font-size: var(--a5e-text-size-sm);
        font-weight: 300;
        text-overflow: ellipsis;
        font-family: var(--a5e-font-sans-serif);
        flex-grow: 1;
        height: 1.125rem;
        width: 2rem;
        text-align: center;

        &--disabled {
            pointer-events: none;
        }
    }

    &__setting {
        padding: 0;
        margin: 0;
        height: 27px;
        width: fit-content;
        background: transparent;
        color: var(--a5e-button-gray);
        cursor: pointer;

        &:hover {
            box-shadow: none;
            color: var(--a5e-button-gray-hover);
        }

        i {
            height: 27px;
            transition: var(--a5e-transition-standard);

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.125rem;
        height: 1.125rem;
        padding: 0;
        font-size: var(--a5e-text-size-sm);
        color: var(--a5e-button-gray-hover);
        background-color: transparent;
    }
}
