.a5e-roll-preview {
  display: block;
  padding: 0.5rem 0.25rem;
  border: 1px solid #7a7971;
  background: rgba(0, 0, 0, 0.05);
  border-radius: $border-radius-standard;
  color: lighten(#191813, 35%);
  font-size: $font-size-lg;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}
