.a5e-roll-formula {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.25rem 0.5ch;
  min-height: 1.5rem;
  margin: 0 0 0.25rem;
  padding: 0.25rem;
  font-size: var(--a5e-text-size-sm);
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;

  &__term {
    white-space: nowrap;
  }
}
