.a5e-scaling-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.625rem;
  width: 1.625rem;
  padding: 0;
  margin: 0;
  font-size: var(--a5e-text-size-md);
  background: transparent;
  color: var(--a5e-button-gray);
  border: 1px solid var(--a5e-button-gray-border);
  border-radius: var(--a5e-border-radius-standard);
  cursor: pointer;

  transition: var(--a5e-transition-standard);

  i {
    margin: 0;
  }

  &:focus,
  &:hover {
    color: var(--a5e-button-gray-hover);
  }
}
