.a5e-section-header {
    display: grid;
    grid-template-areas: heading button;
    grid-template-columns: var(
        --a5e-section-heading-template-columns,
        1fr max-content
    );
    gap: var(--a5e-section-heading-gap, 0);
    padding: 0.125rem 0.5rem;
    font-family: var(--a5e-secondary-font);
    font-size: var(--a5e-sm-text);
    font-weight: normal;
    color: var(--a5e-section-color);
    background: var(--a5e-color-primary);
    border: 1px solid var(--a5e-section-border);
    box-shadow: 0 0 10px var(--a5e-section-shadow) inset;
    border-radius: var(--a5e-border-radius-standard);

    &--bonus-list,
    &--item-list,
    &--party-viewer {
        display: grid;
        align-items: center;
        gap: 0.5rem;
    }

    &--item-list,
    &--party-viewer {
        grid-template-areas: var(--a5e-section-heading-template-areas);
        grid-template-columns: var(--a5e-section-heading-template-columns);
    }

    &--party-viewer {
        height: 22px;
        padding: 0.125rem;
    }

    &--flat-bottom {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    &__button {
        width: fit-content;
        height: calc(var(--a5e-sm-text) + 0.25rem);
        padding: 0;
        margin: 0;
        background: transparent;
        line-height: 1;
        font-size: var(--a5e-sm-text);
        color: var(--a5e-section-color);

        transition: var(--a5e-transition-standard);

        &:focus,
        &:hover {
            box-shadow: none;
            color: #fff;
        }
    }

    &__heading {
        color: inherit;
        font-size: inherit;
        font-weight: normal;
        border: 0;
        margin: 0;

        &--center {
            text-align: center;
        }
    }

    &__icon {
        font-size: var(--a5e-xs-text);
        margin-right: 0.125rem;
    }
}
