.a5e-skill-specialties {
  display: grid;
  align-items: center;
  grid-template-columns: min-content 1fr;
  width: 100%;
  gap: 0.25rem 0.75rem;
  margin: 0;
  font-family: var(--a5e-font-serif);
  font-size: var(--a5e-text-size-sm);

  &__list {
    margin: 0;
    padding: 0;
  }

  &__skill {
    white-space: nowrap;
  }
}
