// TODO: Strip the rest of this out

.a5e-skill {
  &__value {
    display: flex;
    width: 1.8rem;
    height: 1.8rem;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    background: $color-light-background;
    border-radius: 100px;
    box-shadow: 0 0 9px #ccc inset;
    font-family: $font-primary;
    font-size: 1rem;
    font-weight: 300;

    &--green {
      border: 0.5px solid darken($color-primary, 5%);
      background: $color-primary;
      box-shadow: 0 0 9px lighten($color-primary, 10%) inset;
      color: lighten($color-primary, 80%);
    }
  }
}
