.a5e-spell-slots {
  &__input[type=number] {
    width: 1.5rem;
    height: 21px;
    border: 0;
    background: rgba(0, 0, 0, 0.05);
    border-radius: $border-radius-standard;
    text-align: center;
  }
}
