/* stylelint-disable selector-max-id */

#tooltip {
  &.a5e-effect-summary-tooltip {
    font-size: 0.833rem;
  }

  .a5e-effect-summary-tooltip {
    &__heading {
      margin-bottom: 0;
      border-bottom: 0;
      font-size: 1rem;
      font-family: var(--a5e-font-serif);
    }

    &__removal-note {
      display: block;
      margin-block: 0.25rem 0.125rem;
      opacity: 0.75;
    }
  }
}
