.a5e-tooltip {
  position: absolute;
  display: none;
  padding: 0.25rem 0.5rem;
  background: rgba(0, 0, 0, 0.85);
  border-radius: $border-radius-standard;
  color: #fff;
  font-family: $font-secondary;
  font-size: $font-size-xs;
  opacity: 0;
  transition: $standard-transition;

  &--ability-score {
    z-index: 100;
    bottom: -2rem;
    white-space: nowrap;
  }

  &--obstacle-right {
    right: 0;
  }
}
