/* stylelint-disable selector-max-id */

#tooltip {
  &.a5e-effect-summary-tooltip {
    max-width: 60ch;
    margin-right: 0.5rem;
    padding: 0.5rem;
    padding-bottom: 0.125rem;
    font-size: 0.833rem;
    font-family: var(--a5e-font-sans-serif);
    background-color: rgba(20, 20, 20, 0.6);
    backdrop-filter: blur(3px);
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.4));
    box-shadow: 0 0 0 1px #e9d7a1, 0 0 0 2px #956d58;
  }

  .a5e-effect-summary-tooltip {
    &__heading {
      margin-bottom: 0.125rem;
      border-bottom: 0;
      font-size: 1rem;
      font-family: var(--a5e-font-serif);
    }

    &__removal-note {
      display: block;
      margin-block: 0.25rem 0.125rem;
      opacity: 0.75;
    }
  }
}
