$colors: (
  '1': #919f00,
  '2': #a09200,
  '3': #af8300,
  '4': #bd7100,
  '5': #cb5c00,
  '6': #d63f00,
  '7': #e00006);

.a5e-track {
  position: absolute;
  z-index: 2;
  display: flex;
  overflow: hidden;
  width: 2rem;
  height: 2rem;
  align-items: center;
  border-radius: 50%;

  transition: width 0.3s ease;

  &--expanded {
    overflow: initial;
  }

  &--fatigue {
    z-index: 3;
    top: 0;
    left: 1rem;
  }

  &--strife {
    top: 2.5rem;
    left: -0.75rem;
  }

  &:hover > &__icon {
    color: lighten(#191813, 35%);

    @each $level, $color in $colors {
      &--level-#{$level} {
        border-color: $color;
        box-shadow: 0 0 10px $color inset;
        color: $color;
      }
    }
  }

  &:hover > .a5e-tooltip {
    display: block;
  }

  &__icon {
    z-index: 1;
    display: flex;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    background: $color-sheet-background;
    border-radius: 50%;
    box-shadow: 0 0 10px #ccc inset;
    color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: $font-size-lg;
    transform: translateX(-1px);

    transition: $standard-transition;

    @each $level, $color in $colors {
      &--level-#{$level} {
        border-color: $color;
        box-shadow: 0 0 10px $color inset;
        color: $color;
      }
    }
  }

  &__list {
    z-index: 0;
    display: flex;
    height: 2rem;
    padding: 0 0.75rem 0 1.5rem;
    border: 1px solid #ccc;
    border-left: 0;
    margin: 0;
    background: #f6f2eb;
    border-radius: 0 1rem 1rem 0;
    list-style: none;
    opacity: 0;
    transform: translateX(-1rem);

    transition: $standard-transition;
  }

  &--expanded &__list {
    opacity: 1;
  }

  &__list-item {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 0.5rem;
    cursor: pointer;

    transition: $standard-transition;

    &:hover {
      background: darken(#dddace, 2.5%);
    }

    &--selected {
      background: darken(#dddace, 2.5%);
    }
  }
}
