.u-bg-gray,
.u-hover-bg-gray:hover {
  background: $color-tertiary;
}

.u-bg-green,
.u-hover-bg-green:hover {
  background: $color-primary;
}

.u-bg-light-green,
.u-hover-bg-light-green:hover {
  background: #c8e6c9;
}

.u-bg-red,
.u-hover-bg-red:hover {
  background: $color-secondary;
}
