// Border size

.u-border {
  border-width: 1px;

  &-none {
    border-width: 0;
  }

  &-b {
    border-bottom-width: 1px;

    &-none {
      border-bottom-width: 0;
    }
  }

  &-l {
    border-left-width: 1px;

    &-none {
      border-left-width: 0;
    }
  }

  &-r {
    border-right-width: 1px;

    &-none {
      border-right-width: 0;
    }
  }

  &-t {
    border-top-width: 1px;

    &-none {
      border-top-width: 0;
    }
  }
}


// Border radius

.u-rounded {
  border-radius: $border-radius-standard;
}


// Border colour

.u-border-gray,
.u-hover-border-gray:hover {
  border-style: solid;
  border-color: #ccc;
}

.u-border-green,
.u-hover-border-green:hover {
  border-style: solid;
  border-color: #084323;
}

.u-border-red,
.u-hover-border-red:hover {
  border-style: solid;
  border-color: #772020;
}

.u-border-transparent,
.u-hover-border-transparent:hover {
  border-style: solid;
  border-color: transparent;
}
