$sizes: (
  1: 0.5rem,
  2: 1rem,
  3: 1.5rem,
  4: 2rem,
  5: 2.5rem,
  10: 5rem,
  15: 7.5rem,
  20: 10rem,
  30: 15rem,
  40: 20rem,
  50: 25rem,
  'fit': fit-content,
  'full': 100%
);

.u-h {
  &-fit {
    height: fit-content;
  }

  &-full {
    height: 100%;
  }
}

.u-w {
  &-30 {
    width: 15rem;
  }

  &-fit {
    width: fit-content;
  }

  &-full {
    width: 100%;
  }
}
