// Flex

.u-flex {
  display: flex;

  &-row {
    flex-direction: row;
  }

  &-col {
    flex-direction: column;
  }

  &-grow {
    flex-grow: 1;
  }

  &-grow-0 {
    flex-grow: 0;
  }

  &-shrink {
    flex-shrink: 1;
  }

  &-shrink-0 {
    flex-shrink: 0;
  }

  &-wrap {
    flex-wrap: wrap;
  }
}

.u-align {
  &-center {
    align-items: center;
  }

  &-self {
    &-end {
      align-self: flex-end;
    }
  }
}

.u-justify {
  &-center {
    justify-content: center;
  }

  &-space-around {
    justify-content: space-around;
  }

  &-space-between {
    justify-content: space-between;
  }
}

.u-place-items-center {
  place-items: center;
}


// Flex and grid spacing

$gap-sizes: (
  'ch': 0.75ch,
  'xxs': 0.125rem,
  'xs': 0.25rem,
  'sm': 0.375rem,
  'md': 0.5rem,
  'lg': 0.75rem,
  'xl': 1rem,
  'xxl': 1.5rem,
  'xxxl': 2.25rem,
  '0': 0);

.u-gap {
  @each $label, $size in $gap-sizes {
    &-#{$label} {
      gap: $size;
    }
  }
}


// Grid

$grid-sizes: 2, 3, 4, 6, 12;

.u-grid {
  display: grid;

  @each $size in $grid-sizes {
    &-#{$size} {
      grid-template-columns: repeat($size, 1fr);
    }
  }
}

.u-span {
  &-2 {
    grid-column: span 2;
  }

  &-3 {
    grid-column: span 3;
  }

  &-4 {
    grid-column: span 4;
  }
}


// Hidden must come last

.u-hidden {
  display: none;
}
