// Font

.u-font {
  &-serif {
    font-family: $font-primary;
  }

  &-sans-serif {
    font-family: $font-secondary;
  }
}


// Font size

$font-sizes: (
  'xxs': $font-size-xxs,
  'xs': $font-size-xs,
  'sm': $font-size-sm,
  'md': $font-size-md,
  'lg': $font-size-lg,
  'xl': $font-size-xl,
  'xxl': $font-size-xxl,
  'xxxl': $font-size-xxxl);

.u-text {
  @each $label, $size in $font-sizes {
    &-#{$label} {
      font-size: $size;
    }
  }
}


// Text colour

.u-text-dark,
.u-hover-text-dark:hover {
  color: $color-dark-text;
}

.u-text-light,
.u-hover-text-light:hover {
  color: $color-light-text;
}

.u-text-medium,
.u-hover-text-medium:hover {
  color: $color-medium-text;
}

.u-text-inherit,
.u-hover-text-inherit:hover {
  color: inherit;
}


// Text alignment

.u-text {
  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }
}


// Font style and transformations

.u-text {
  &-bold {
    font-weight: 700;
  }

  &-italic {
    font-style: italic;
  }

  &-uppercase {
    text-transform: uppercase;
  }
}


// Text Shadow

.u-text-shadow-none,
.u-hover-text-shadow-none:hover {
  text-shadow: none;
}
