.u-pos {
  &-absolute {
    position: absolute;
  }

  &-relative {
    position: relative;
  }
}

$directions: 'bottom', 'left', 'right', 'top';

$sizes: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1rem,
  5: 1.25rem,
  6: 1.5rem,
  8: 2rem,
  10: 2.5rem
);

@each $direction in $directions {
  .u-#{$direction} {
    @each $label, $size in $sizes {
      &-#{$label} {
        #{$direction}: $size;
      }
    }
  }
}
