.u-pos {
  &-absolute {
    position: absolute;
  }

  &-relative {
    position: relative;
  }
}

.u-bottom {
  &-0 {
    bottom: 0;
  }
}

.u-left {
  &-0 {
    left: 0;
  }
}

.u-right {
  &-0 {
    right: 0;
  }
}

.u-top {
  &-0 {
    top: 0;
  }
}
