/** FOUNDRY DARK THEME **/

.theme-dark {
  /** Colors **/

  /** Chat Cards **/
  --a5e-chat-card-background: hsl(0, 0%, 14%); /** TODO: Update **/
  --a5e-chat-card-background-blind: hsl(300, 35%, 10%);
  --a5e-chat-card-background-whisper: hsl(240, 18%, 10%);
  --a5e-chat-card-color: hsl(36, 53%, 80%); /** TODO: Update **/
  --a5e-chat-card-color-medium: hsl(0, 0%, 84%); /** TODO: Update **/
  --a5e-chat-card-color-dark: hsl(36, 53%, 85%); /** TODO: Update **/
  --a5e-chat-card-border-color: hsl(240, 1%, 29%);
}
