/** FOUNDRY DARK THEME **/

.theme-dark {
  /** Base Colors **/
  --a5e-sheet-background-color: hsla(200, 6%, 10%, 0.9);

  --a5e-color-primary: hsl(190, 21%, 33%);
  --a5e-color-primary-lighter: hsl(191, 16%, 40%);
  --a5e-color-error: hsl(0, 58%, 35%);
  --a5e-color-warning: hsl(36, 58%, 35%);
  --a5e-color-disabled: hsl(0, 0%, 67%);

  --a5e-color-text-dark: hsl(38, 38%, 94%);
  --a5e-color-text-light: hsl(50, 14%, 9%);
  --a5e-color-text-medium: hsl(0, 0%, 84%);

  --a5e-color-background: hsl(190, 10%, 12%);
  --a5e-color-background-light: hsla(190, 10%, 12%, 0.9);

  --a5e-input-background: hsl(190, 6%, 20%);
  --a5e-input-placeholder-color: hsl(180, 1%, 57%);

  --a5e-border-color: hsl(180, 2%, 38%);
  --a5e-rule-color: hsl(180, 2%, 38%);

  /** Box **/
  --a5e-box-background: hsl(200, 3%, 18%);

  /** Buttons **/
  --a5e-button-primary: var(--a5e-color-primary-lighter);
  --a5e-button-gray: hsl(0, 0%, 60%);
  --a5e-button-gray-border: #7a7971;
  --a5e-button-gray-hover: hsl(0, 0%, 80%);

  /** Chat Cards **/
  --a5e-chat-card-background: var(--a5e-color-background);
  --a5e-chat-card-background-blind: hsl(190, 6%, 20%);
  --a5e-chat-card-background-whisper: hsl(180, 3%, 29%);
  --a5e-chat-card-color: var(--a5e-color-text-dark);
  --a5e-chat-card-color-medium: var(--a5e-color-text-medium);
  --a5e-chat-card-color-dark: var(--a5e-color-text-light);
  --a5e-chat-card-border-color: var(--a5e-border-color);
  --a5e-chat-card-button-background: hsl(190, 6%, 20%);
  --a5e-chat-card-damage-apply-background: hsl(190, 6%, 20%);
  --a5e-chat-card-rule-color: hsl(180, 2%, 38%);
  --a5e-chat-card-indicator-background: hsl(180, 3%, 29%);

  /** Code Editor **/
  --a5e-code-editor-background-color: hsl(0, 0%, 24%);
  --a5e-code-editor-text-color: hsl(38, 38%, 94%);
  --a5e-code-text-color: hsl(217, 34%, 88%);
  --a5e-code-operator-color: hsl(169, 56%, 68%);
  --a5e-code-wrapping-brace-color: hsl(51, 100%, 50%);
  --a5e-code-type-color: hsl(77, 67%, 68%);

  /** Tooltip **/
  --a5e-tooltip-dark-background: hsla(0, 0%, 8%, 0.6);
  --a5e-tooltip-drop-shadow: rgba(0 0 0 / 0.4);
  --a5e-tooltip-box-shadow-1: hsl(45, 62%, 77%);
  --a5e-tooltip-box-shadow-2: hsl(21, 26%, 46%);
  --a5e-tooltip-roll-background: hsl(190, 6%, 20%);
  --a5e-tooltip-roll-box-shadow: hsl(40, 4%, 42%);

  /** Dice Tooltip **/
  --a5e-dice-tooltip-border-color: var(--a5e-border-color);
  --a5e-dice-tooltip-total-background: hsl(190, 6%, 20%);

  /** Primary Navigation **/
  --a5e-primary-nav-background: var(--a5e-color-primary);
  --a5e-primary-nav-color: var(--a5e-color-text-dark);
  --a5e-primary-nav-border: transparent;
  --a5e-primary-nav-box-shadow-start: transparent;
  --a5e-primary-nav-box-shadow-end: transparent;

  --a5e-primary-nav-item-color: hsl(39, 98%, 81%);
  --a5e-primary-nav-item-active-color: #842c2b;

  /** -----------------------------------
    Components
  ----------------------------------- **/
  /** Field Wrapper **/
  --a5e-field-wrapper-background: transparent;
  --a5e-field-wrapper-border-color: transparent;
  --a5e-field-wrapper-header-button-color: var(--a5e-button-gray);
  --a5e-field-wrapper-header-button-color-hover: var(--a5e-button-gray-hover);
  --a5e-field-wrapper-color-warning: var(--a5e-color-warning);

  /** Item List **/
  --a5e-item-list-item-border-end: hsl(180, 2%, 32%);
  --a5e-track-color: var(--a5e-button-gray);
  --a5e-track-color-hover: var(--a5e-button-gray-hover);
  --a5e-track-icon-background: #474c4c;
  --a5e-track-icon-border: #575757;

  /** Section **/
  --a5e-section-color: var(--a5e-color-text-dark);
  --a5e-section-hover: hsl(0, 0%, 100%);
  --a5e-section-shadow: transparent;
  --a5e-section-border: transparent;

  /** Svelte Select **/
  --a5e-svelte-select-list-background: hsl(180, 3%, 29%);
  --a5e-svelte-select-list-group-title-color: var(--a5e-text-color-medium);
  --a5e-svelte-select-list-item-color: var(--a5e-text-color-dark);
  --a5e-svelte-select-list-item-active-background: var(--a5e-text-color-dark);
  --a5e-svelte-select-list-item-hover-background: hsl(180, 2%, 47%);
  --a5e-svelte-select-list-item-hover-color: var(--a5e-text-color-dark);

  /** -----------------------------------
    Action Sheet
  ----------------------------------- **/
  /** Area **/
  --a5e-action-area-button-checked: var(--a5e-button-primary);
  --a5e-action-area-button-checked-border: var(--a5e-border-color);
  --a5e-action-area-button-checked-color: var(--a5e-color-text-dark);
  --a5e-action-area-button-checked-hover: var(--a5e-button-primary);
  --a5e-action-area-button-checked-shadow: darken-color(var(--a5e-button-primary), 10);

  --a5e-action-area-label-border: #bbb;
  --a5e-action-area-label-background: transparent;
  --a5e-action-area-label-background-hover: rgba(0 0 0 / 0.1);


  // /** Base colors */
  // --clr-dark-a0: #000;
  // --clr-light-a0: #fff;

  // /** Dark theme primary colors */
  // --clr-primary-a0: #426066;
  // --clr-primary-a10: hsl(191, 16%, 40%);
  // --clr-primary-a20: #698186;
  // --clr-primary-a30: #7e9296;
  // --clr-primary-a40: #92a3a7;
  // --clr-primary-a50: #a7b5b8;

  // /** Dark theme surface colors */
  // --clr-surface-a0: #121212;
  // --clr-surface-a10: #282828;
  // --clr-surface-a20: #3f3f3f;
  // --clr-surface-a30: #575757;
  // --clr-surface-a40: #717171;
  // --clr-surface-a50: #8b8b8b;

  // /** Dark theme tonal surface colors */
  // --clr-surface-tonal-a0: #1c2122;
  // --clr-surface-tonal-a10: #313637;
  // --clr-surface-tonal-a20: #474c4c;
  // --clr-surface-tonal-a30: #5f6363;
  // --clr-surface-tonal-a40: #777b7b;
  // --clr-surface-tonal-a50: #919494;
}
