/** FOUNDRY DARK THEME **/

.theme-dark {
  /** Base Colors **/
  --a5e-sheet-background-color: hsla(200, 6%, 10%, 0.9);

  --a5e-color-primary: hsl(190, 21%, 33%);
  --a5e-color-primary-lighter: hsl(191, 16%, 40%);
  --a5e-color-error: hsl(0, 58%, 35%);
  --a5e-color-warning: hsl(36, 58%, 35%);
  --a5e-color-disabled: hsl(0, 0%, 67%);

  --a5e-color-text-dark: hsl(38, 38%, 94%);
  --a5e-color-text-light: hsl(50, 14%, 9%);
  --a5e-color-text-medium: hsl(0, 0%, 84%);

  --a5e-color-background: hsl(190, 10%, 12%);
  --a5e-color-background-light: hsla(190, 10%, 12%, 0.9);

  --a5e-border-color: hsl(180, 2%, 38%);
  --a5e-rule-color: hsl(180, 2%, 38%);

  /** Chat Cards **/
  --a5e-chat-card-background: var(--a5e-color-background);
  --a5e-chat-card-background-blind: hsl(190, 6%, 20%);
  --a5e-chat-card-background-whisper: hsl(180, 3%, 29%);
  --a5e-chat-card-color: var(--a5e-color-text-dark);
  --a5e-chat-card-color-medium: var(--a5e-color-text-medium);
  --a5e-chat-card-color-dark: var(--a5e-color-text-light);
  --a5e-chat-card-border-color: var(--a5e-border-color);
  --a5e-chat-card-button-background: hsl(190, 6%, 20%);
  --a5e-chat-card-damage-apply-background: hsl(190, 6%, 20%);
  --a5e-chat-card-rule-color: hsl(180, 2%, 38%);
  --a5e-chat-card-indicator-background: hsl(180, 3%, 29%);

  /** Tooltip **/
  --a5e-tooltip-dark-background: rgba(20 20 20 / 0.6);
  --a5e-tooltip-drop-shadow: rgba(0 0 0 / 0.4);
  --a5e-tooltip-box-shadow-1: #e9d7a1;
  --a5e-tooltip-box-shadow-2: #956d58;
  --a5e-tooltip-roll-background: hsl(190, 6%, 20%);
  --a5e-tooltip-roll-box-shadow: #6f6c66;

  /** Dice Tooltip **/
  --a5e-dice-tooltip-border-color: var(--a5e-border-color);
  --a5e-dice-tooltip-total-background: hsl(190, 6%, 20%);

  /** Primary Navigation **/
  --a5e-primary-nav-background: var(--a5e-color-primary);
  --a5e-primary-nav-color: var(--a5e-color-text-dark);
  --a5e-primary-nav-box-shadow: darken-color(var(--a5e-color-primary), 10);

  --a5e-primary-nav-item-color: hsl(39, 98%, 81%);

  /** -----------------------------------
    Item Sheet
  ----------------------------------- **/

  /** Item Sheet Header **/





  // /** Base colors */
  // --clr-dark-a0: #000;
  // --clr-light-a0: #fff;

  // /** Dark theme primary colors */
  // --clr-primary-a0: #426066;
  // --clr-primary-a10: hsl(191, 16%, 40%);
  // --clr-primary-a20: #698186;
  // --clr-primary-a30: #7e9296;
  // --clr-primary-a40: #92a3a7;
  // --clr-primary-a50: #a7b5b8;

  // /** Dark theme surface colors */
  // --clr-surface-a0: #121212;
  // --clr-surface-a10: #282828;
  // --clr-surface-a20: #3f3f3f;
  // --clr-surface-a30: #575757;
  // --clr-surface-a40: #717171;
  // --clr-surface-a50: #8b8b8b;

  // /** Dark theme tonal surface colors */
  // --clr-surface-tonal-a0: #1c2122;
  // --clr-surface-tonal-a10: #313637;
  // --clr-surface-tonal-a20: #474c4c;
  // --clr-surface-tonal-a30: #5f6363;
  // --clr-surface-tonal-a40: #777b7b;
  // --clr-surface-tonal-a50: #919494;
}
