@font-face {
  font-family: "Averia Serif Libre";
  src: url("/fonts/AveriaSerifLibre-Regular.ttf");
}

@font-face {
  font-family: "Averia Serif Libre";
  font-style: italic;
  src: url("/fonts/AveriaSerifLibre-Italic.ttf");
}

@font-face {
  font-family: "Averia Serif Libre";
  font-weight: bold;
  src: url("/fonts/AveriaSerifLibre-Bold.ttf");
}

@font-face {
  font-family: "Averia Serif Libre";
  font-weight: bold;
  font-style: italic;
  src: url("/fonts/AveriaSerifLibre-BoldItalic.ttf");
}

@font-face {
  font-family: "Averia Serif Libre";
  font-weight: 300;
  src: url("/fonts/AveriaSerifLibre-Light.ttf");
}

@font-face {
  font-family: "Averia Serif Libre";
  font-weight: 300;
  font-style: italic;
  src: url("/fonts/AveriaSerifLibre-LightItalic.ttf");
}
