body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

// Remove default Foundry styles for headings and paragraphs on the sheets
.a5e-sheet {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    border: 0;
    margin: 0;
  }

  p {
    margin: 0;
  }
}
