:root {
  // Application background
  --a5e-application-background: url("/assets/backgrounds/background-light.webp");

  // Fonts
  --a5e-font-serif: "Averia Serif Libre", serif;

  // Text Sizes
  --a5e-text-size-xxs: 0.579rem;
  --a5e-text-size-xs: 0.694rem;
  --a5e-text-size-sm: 0.833rem;
  --a5e-text-size-md: 1rem;
  --a5e-text-size-lg: 1.2rem;
  --a5e-text-size-xl: 1.44rem;
  --a5e-text-size-xxl: 1.728rem;
  --a5e-text-size-xxxl: 2.074rem;
  --a5e-text-size-4xl: 2.4888rem;
}
