:root {
  /** Fonts **/
  --a5e-font-serif: 'Averia Serif Libre', serif;
  --a5e-font-sans-serif: 'Signika', sans-serif;
  --a5e-font-mono: 'Source Code Pro', mono;

  /** Text Sizes **/
  --a5e-text-size-xxs: 0.579rem;
  --a5e-text-size-xs: 0.694rem;
  --a5e-text-size-sm: 0.833rem;
  --a5e-text-size-md: 1rem;
  --a5e-text-size-lg: 1.2rem;
  --a5e-text-size-xl: 1.44rem;
  --a5e-text-size-xxl: 1.728rem;
  --a5e-text-size-xxxl: 2.074rem;
  --a5e-text-size-4xl: 2.4888rem;

  /** Transitions **/
  --a5e-transition-standard: all 0.15s ease-in-out;


  /** Base Colors **/
  --a5e-sheet-background-color: hsl(38, 38%, 94%);

  --a5e-color-primary: hsl(190, 21%, 33%);
  --a5e-color-error: hsl(0, 58%, 35%);
  --a5e-color-warning: hsl(36, 58%, 35%);
  --a5e-color-disabled: hsl(0, 0%, 67%);

  --a5e-color-text-dark: hsl(50, 14%, 9%);
  --a5e-color-text-light: hsl(38, 38%, 94%);
  --a5e-color-text-medium: hsl(50, 14%, 44%);

  --a5e-color-background-light: hsl(38, 38%, 94%);
  --a5e-color-background-medium: rgba(0 0 0 / 0.15);

  --a5e-input-background: rgba(0 0 0 / 0.05);
  --a5e-input-placeholder-color: inherit;

  --a5e-border-color: hsl(0, 0%, 80%);
  --a5e-shadow-color: #ccc;
  --a5e-rule-color: hsl(0, 0%, 80%);

  /** TODO: Deprecated styles **/
  --a5e-color-primary-light: #16b65e;
  --a5e-color-tertiary: rgba(0, 0, 0, 0.05);
  --a5e-color-background-sheet: rgba(246, 242, 235, 0.5);
  --a5e-font-primary: 'Modesto Condensed', serif;

  /** Box **/
  --a5e-box-background: rgba(0 0 0 / 0.05);

  /** Buttons **/
  --a5e-button-primary: var(--a5e-color-primary);
  --a5e-button-primary-hover: var(--a5e-color-primary);
  --a5e-button-error: var(--a5e-color-error);
  --a5e-button-error-hover: var(--a5e-color-error);
  --a5e-button-gray: hsl(0, 0%, 60%);
  --a5e-button-gray-border: #7a7971;
  --a5e-button-gray-hover: hsl(0, 0%, 33%);

  /** Chat Cards **/
  --a5e-chat-card-background: var(--a5e-color-background-light);
  --a5e-chat-card-background-blind: hsl(300, 35%, 94%);
  --a5e-chat-card-background-whisper: hsl(240, 18%, 92%);
  --a5e-chat-card-color: var(--a5e-color-text-dark);
  --a5e-chat-card-color-medium: var(--a5e-color-text-medium);
  --a5e-chat-card-color-dark: var(--a5e-color-text-dark);
  --a5e-chat-card-border-color: hsl(0, 0%, 80%);
  --a5e-chat-card-button-background: hsla(0, 0%, 0%, 0.05);
  --a5e-chat-card-damage-apply-background: hsl(40, 17%, 86%);
  --a5e-chat-card-indicator-background: hsl(54, 8%, 76%);

  /** Code Editor **/
  --a5e-code-editor-background-color: hsl(0, 0%, 24%);
  --a5e-code-editor-text-color: hsl(38, 38%, 94%);
  --a5e-code-text-color: hsl(217, 34%, 88%);
  --a5e-code-operator-color: hsl(169, 56%, 68%);
  --a5e-code-wrapping-brace-color: hsl(51, 100%, 50%);
  --a5e-code-type-color: hsl(77, 67%, 68%);

  /** Tooltip **/
  --a5e-tooltip-dark-background: hsla(0, 0%, 8%, 0.6);
  --a5e-tooltip-drop-shadow: hsla(0, 0%, 0%, 0.4);
  --a5e-tooltip-box-shadow-1: hsl(45, 62%, 77%);
  --a5e-tooltip-box-shadow-2: hsl(21, 26%, 46%);
  --a5e-tooltip-roll-background: hsl(42, 27%, 90%);
  --a5e-tooltip-roll-box-shadow: hsl(40, 4%, 42%);


  /** Dice Tooltip **/
  --a5e-dice-tooltip-border-color: var(--a5e-border-color);
  --a5e-dice-tooltip-total-background: hsla(0, 0%, 0%, 0.05);

  /** Primary Navigation **/
  --a5e-primary-nav-background: var(--a5e-color-primary);
  --a5e-primary-nav-color: var(--a5e-color-text-light);
  --a5e-primary-nav-border: var(--a5e-border-color);
  --a5e-primary-nav-box-shadow-start: darken-color(var(--a5e-color-primary), 10);
  --a5e-primary-nav-box-shadow-end: rgba(0 0 0 / 0.4);

  --a5e-primary-nav-item-color: hsl(39, 98%, 81%);
  --a5e-primary-nav-item-active-color: #842c2b;

  /** -----------------------------------
    Components
  ----------------------------------- **/
  /** Field Wrapper **/
  --a5e-field-wrapper-background: transparent;
  --a5e-field-wrapper-border-color: transparent;
  --a5e-field-wrapper-header-button-color: var(--a5e-button-gray);
  --a5e-field-wrapper-header-button-color-hover: var(--a5e-button-gray-hover);
  --a5e-field-wrapper-color-warning: var(--a5e-color-warning);

  /** Item List **/
  --a5e-item-list-item-border-end: #d5cac1;
  --a5e-track-color: var(--a5e-button-gray);
  --a5e-track-color-hover: var(--a5e-button-gray-hover);
  --a5e-track-icon-background: #ebe9e0;
  --a5e-track-icon-border: #ccc;

  /** Section **/
  --a5e-section-color: var(--a5e-color-text-light);
  --a5e-section-hover: hsl(0, 0%, 100%);
  --a5e-section-shadow: hsl(150, 3%, 25%);
  --a5e-section-border: hsl(190, 21%, 23%);

  /** Svelte Select **/
  --a5e-svelte-select-list-background: inherit;
  --a5e-svelte-select-list-group-title-color: var(--a5e-color-text-medium);
  --a5e-svelte-select-list-item-color: var(--a5e-color-text-dark);
  --a5e-svelte-select-list-item-active-background: var(--a5e-color-text-dark);
  --a5e-svelte-select-list-item-active-color: var(--a5e-color-text-dark);

  /** -----------------------------------
    Action Sheet
  ----------------------------------- **/
  /** Area **/
  --a5e-action-area-button-checked: var(--a5e-button-primary);
  --a5e-action-area-button-checked-border: darken-color(var(--a5e-button-primary), 5);
  --a5e-action-area-button-checked-color: var(--a5e-color-text-light);
  --a5e-action-area-button-checked-hover: var(--a5e-button-primary);
  --a5e-action-area-button-checked-shadow: darken-color(var(--a5e-button-primary), 10);

  --a5e-action-area-label-border: #bbb;
  --a5e-action-area-label-background: transparent;
  --a5e-action-area-label-background-hover: rgba(0 0 0 / 0.1);

  /** -----------------------------------
    Actor Sheet
  ----------------------------------- **/
  /** Ability Scores **/
  --a5e-ability-score-background: rgba(246 242 235 / 0.15);
  --a5e-ability-score-border: var(--a5e-border-color);
  --a5e-ability-score-header-border: #3e4240;
  --a5e-ability-score-header-color: var(--a5e-color-text-light);
  --a5e-ability-score-header-shadow: #2e4246;
  --a5e-ability-score-roll-button-background: rgba(0 0 0 / 0.15);
  --a5e-ability-score-proficient: var(--a5e-color-text-light);

  /** Status Track **/
  --a5e-status-track-icon-background: hsl(38, 38%, 94%);
  --a5e-status-track-icon-shadow: var(--a5e-border-color);
  --a5e-status-track-icon-color: var(--a5e-color-text-medium);

  --a5e-status-track-item-background-hover: #dddace;
  --a5e-status-track-item-background-selected: #dddace;
  --a5e-status-track-item-color: var(--a5e-color-text-dark);
  --a5e-status-track-item-color-hover: var(--a5e-color-text-dark);
  --a5e-status-track-item-color-selected: var(--a5e-color-text-dark);
  --a5e-status-track-items-background: hsl(38, 38%, 94%);
  --a5e-status-track-items-border: var(--a5e-border-color);


}
