// BORDERS

$border-radius-standard: 3px;

// COLOURS

$color-primary: #425f65;
$color-primary-light: #16b65e;
$color-secondary: #8b2525;
$color-tertiary: rgba(0, 0, 0, 0.05);
$color-warning: #8b6225;
$color-disabled: #aaa;

$color-dark-text: #191813;
$color-light-text: #f6f2eb;
$color-medium-text: #7e7960;

$color-light-background: #f6f2eb;
$color-sheet-background: rgba(246, 242, 235, 0.6);

// FONTS

$font-primary: 'Modesto Condensed', serif;
$font-secondary: 'Signika', sans-serif;

$font-size-xxs: 0.579rem;
$font-size-xs: 0.694rem;
$font-size-sm: 0.833rem;
$font-size-md: 1rem;
$font-size-lg: 1.2rem;
$font-size-xl: 1.44rem;
$font-size-xxl: 1.728rem;
$font-size-xxxl: 2.074rem;

// TRANSITIONS

$standard-transition: all 0.15s ease-in-out;
