:root {
  // Application background
  --a5e-application-background: url("/assets/backgrounds/background-light.webp");

  // Borders
  --a5e-border-radius-standard: 3px;

  // Colors
  --a5e-color-primary: hsl(190, 21%, 33%);
  --a5e-color-error: hsl(0, 58%, 35%);
  --a5e-color-warning: hsl(36, 58%, 35%);
  --a5e-color-disabled: hsl(0, 0%, 67%);

  --a5e-color-text-dark: hsl(50, 14%, 9%);
  --a5e-color-text-light: hsl(38, 38%, 94%);
  --a5e-color-text-medium: hsl(50, 14%, 44%);

  --a5e-color-background-light: hsl(38, 38%, 94%);

  // Fonts
  --a5e-font-serif: "Averia Serif Libre", serif;
  --a5e-font-sans-serif: "Signika", sans-serif;
  --a5e-font-mono: "Source Code Pro", mono;

  // Text Sizes
  --a5e-text-size-xxs: 0.579rem;
  --a5e-text-size-xs: 0.694rem;
  --a5e-text-size-sm: 0.833rem;
  --a5e-text-size-md: 1rem;
  --a5e-text-size-lg: 1.2rem;
  --a5e-text-size-xl: 1.44rem;
  --a5e-text-size-xxl: 1.728rem;
  --a5e-text-size-xxxl: 2.074rem;
  --a5e-text-size-4xl: 2.4888rem;

  // Transitions
  --a5e-transition-standard: all 0.15s ease-in-out;

  // Code Editor
  --a5e-code-editor-background-color: hsl(0, 0%, 24%);
  --a5e-code-editor-text-color: hsl(38, 38%, 94%);
  --a5e-code-text-color: hsl(217, 34%, 88%);
  --a5e-code-operator-color: hsl(169, 56%, 68%);
  --a5e-code-wrapping-brace-color: hsl(51, 100%, 50%);
  --a5e-code-type-color: hsl(77, 67%, 68%);

  // TODO: Deprecated styles
  --a5e-color-primary-light: #16b65e;
  --a5e-color-tertiary: rgba(0, 0, 0, 0.05);
  --a5e-color-background-sheet: rgba(246, 242, 235, 0.5);
  --a5e-font-primary: "Modesto Condensed", serif;
}
