html {
  font-size: 16px;
}

// Reset sheet borders so that the border utility styles work correctly.
.a5e-sheet *,
.a5e-dialog * {
  border: 0;

  // Firefox Scrollbar Changes
  scrollbar-color: $color-primary transparent;
  scrollbar-width: thin;
}
