html {
  font-size: 16px;
}

// Reset sheet borders so that the border utility styles work correctly.
.a5e-sheet *,
.a5e-dialog * {
  --background: var(--a5e-color-background-light);
  border: 0;

  scrollbar-color: var(--a5e-color-primary) transparent;
  scrollbar-width: thin;
}
