<section
    class="
        u-flex
        u-gap-md
        a5e-js-sheet-page
        u-h-full u-overflow-y-auto
        a5e-js-details-scroll-area
    "
    data-group="item-{{item._id}}"
    data-tab="details"
>
</section>
