<section
    class="
        a5e-js-sheet-page
        a5e-sheet__tab-content
        a5e-sheet__tab-content--object-properties
        {{#unless (eq currentTab 'ammunitionProperties')}}a5e-sheet__tab-content--hidden{{/unless}}
        a5e-scroll-container
        a5e-js-ammunition-properties-scroll-area
    "
    data-group="item-{{item._id}}"
    data-tab="ammunitionProperties"
>
    <div class="a5e-box a5e-box--padded a5e-form__section a5e-form__section--no-margin">
        <h3 class="a5e-form__input-label">{{ localize "A5E.AmmunitionProperties" }}</h3>

        <ul class="a5e-tag-group">
            {{#each config.ammunitionProperties as | property key |}}
                <li
                    class="
                        a5e-tag
                        a5e-tag--clickable
                        {{#unless (contains ../item.data.ammunitionProperties key)}}a5e-tag--inactive{{/unless}}
                        a5e-js-toggle-ammunition-property
                    "
                    data-ammunition-property="{{key}}"
                >
                    {{ localize property }}
                </li>
            {{/each}}
        </ul>
    </div>
</section>
