<section
    class="
        a5e-js-sheet-page
        a5e-sheet__tab-content
        u-flex u-flex-col u-gap-md u-p-lg
        {{#unless (eq currentTab 'ammunitionProperties')}}u-hidden{{/unless}}
        u-h-full u-overflow-y-auto
        a5e-js-ammunition-properties-scroll-area
    "
    data-group="item-{{item._id}}"
    data-tab="ammunitionProperties"
>
    <div class="a5e-box u-p-md a5e-form__section a5e-form__section--no-margin">
        <h3 class="u-text-bold u-text-sm">{{ localize "A5E.AmmunitionProperties" }}</h3>

        <ul class="u-flex u-flex-wrap u-font-san-serif
u-gap-md u-list-style-none u-m-0 u-p-0 u-text-xs">
            {{#each config.ammunitionProperties as | property key |}}
                <li
                    class="
                        a5e-tag
                        .u-pointer
                        {{#unless (contains ../item.data.ammunitionProperties key)}}a5e-tag--inactive{{/unless}}
                        a5e-js-toggle-ammunition-property
                    "
                    data-ammunition-property="{{key}}"
                >
                    {{ localize property }}
                </li>
            {{/each}}
        </ul>
    </div>
</section>
