<section
    class="
        u-flex
        u-gap-xl
        u-p-xl
        u-h-full u-overflow-y-auto
        a5e-js-sheet-page
        a5e-js-details-scroll-area
    "
    data-group="item-{{item._id}}"
    data-tab="details"
>
    <nav class="u-flex u-flex-col u-gap-xs">
        <a class="
            u-border
            u-border-gray
            u-px-md
            u-py-sm
            u-rounded
            u-hover-bg-green
            u-hover-border-green
            u-hover-text-light
            u-hover-text-shadow-none
        ">
            Example 1
        </a>

        <a class="
            u-border
            u-border-gray
            u-px-md
            u-py-sm
            u-rounded
            u-hover-bg-green
            u-hover-border-green
            u-hover-text-light
            u-hover-text-shadow-none
        ">
            Example 1
        </a>

        <a class="
            u-border
            u-border-gray
            u-px-md
            u-py-sm
            u-rounded
            u-hover-bg-green
            u-hover-border-green
            u-hover-text-light
            u-hover-text-shadow-none
        ">
            Example 1
        </a>

        <a class="
            u-border
            u-border-gray
            u-px-md
            u-py-sm
            u-rounded
            u-hover-bg-green
            u-hover-border-green
            u-hover-text-light
            u-hover-text-shadow-none
        ">
            Example 1
        </a>
    </nav>

    <div>
        testing some more
    </div>
</section>
