.a5e-ability-scores {
  position: relative;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: min-content;
  gap: 0.375rem;
  grid-area: attributes;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: var(--a5e-font-serif);
}
