.a5e-action-config {
    &__list {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        list-style: none;
        margin: 0;
        padding: 0;
        overflow-y: auto;

        &-item {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
    }

    &__flex-container {
        display: flex;
        gap: 0.25rem;
        width: 100%;
    }
}
