.a5e-actor-sheet {
  min-width: 47.1875rem;
  min-height: 35rem;

  .window-content {
    padding: 0;
    overflow-y: hidden;
    // background-image: var(--a5e-application-background);
    background-size: cover;
  }
}
