#chat-log .message {
  position: relative;
  padding-bottom: 0;
  background: #ede9e0;

  // &::after,
  // &::before {
  //   position: absolute;
  //   z-index: -1;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   content: '';
  // }

  // &::after {
  //   background: rgba(246, 242, 235, 0.6);
  // }

  // &::before {
  //   background: url('/ui/parchment.jpg') repeat;
  // }
}

.chat-message .message-content {
  margin-bottom: 0.5rem;
}

.a5e-chat-card {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  &__body {
    p {
      margin-top: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 0.25rem;
    padding-bottom: 0;
    gap: 0.75rem;
  }

  &__roll {
    position: relative;
    flex: 0 0 100%;
    border: 1px solid #ccc;
    margin: 0 0 0.25rem;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    cursor: pointer;
    line-height: 24px;
    text-align: center;
    word-break: break-all;

    &--crit {
      background: #c8e6c9;
    }

    &--fumble {
      border-color: rgba(255, 0, 0, 0.15);
      background: rgba(255, 0, 0, 0.25);
    }

    &--total {
      cursor: initial;
      font-size: $font-size-lg;
      font-weight: 700;
    }
  }

  &__roll-label {
    margin-bottom: 0.25rem;
    font-size: $font-size-xs;
    text-align: center;
    text-transform: capitalize;
  }
}
