.a5efc-compendium-sheet {
  min-height: 80vh;
  max-height: 80vh;
  min-width: 35rem;
}

.a5efc-main-wrapper {
  display: grid;
  grid-template-areas:
    "search"
    "main";
  grid-template-rows: 2rem 1fr;
  grid-template-columns: 1fr;
  gap: 0.25rem;
  height: 100%;
  padding: 0.5rem;
  padding-right: 0.25rem;
  padding-bottom: 0.25rem;
  background: rgba(246, 242, 235, 0.5);
  overflow: hidden;
}

.a5efc-footer {
  margin: 0;
  padding-top: 0.25rem;
  border-top: 1px solid #ccc;
}

.a5efc-compendium-sheet .window-content {
  padding: 0 !important;
}
