.a5e-filter-container {
  display: flex;
  width: 14rem;
  flex-direction: column;
  flex-shrink: 0;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-family: $font-secondary;
  gap: 0.5rem;

  &__filter-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__not-implemented {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #999;
    font-size: $font-size-lg;
  }
}
