.a5e-input {
    /* background: 1px solid var(--a5e-input-background); */
    /* border: 1px solid var(--a5e-input-border); */

    width: 100%;
    height: 2rem;
    padding-inline: 0.5rem, 2rem;
    font-family: var(--a5e-primary-font);
    font-size: var(--a5e-sm-text);
    font-weight: 400;
    text-overflow: ellipsis;

    /* Generics */
    &--slim {
        height: 27px;
    }

    &--small {
        width: 4rem;
        padding: 0 0.5rem;

        &[type="number"] {
            text-align: center;
        }
    }
    &--select {
        &-fit {
            width: fit-content;
        }
    }

    /* Custom */
    &--character-name {
        padding-inline: 0 3px;
        border: 0;
        background: transparent;
        font-family: var(--a5e-primary-font);
        font-size: var(--a5e-xl-text);

        &:active,
        &:focus {
            box-shadow: none;
        }
    }

    &--hp {
        width: 3rem;
        text-align: center;
        height: 27px;
        background: transparent;
        border: none;
        padding: 0 0.25rem;
        font-weight: 600;

        &-temp,
        &-bonus {
            width: 3rem;
        }
    }
}
