.a5e-input {
    /* background: 1px solid var(--a5e-input-background); */
    /* border: 1px solid var(--a5e-input-border); */

    width: 100%;
    height: 2rem;
    padding-inline: 0.5rem, 2rem;
    font-family: var(--a5e-primary-font);
    font-size: var(--a5e-sm-text);
    font-weight: 400;
    text-overflow: ellipsis;
    box-shadow: none;

    /* Generics */
    &--slim {
        height: 28px;

        &[type="number"] {
            text-align: center;
        }
    }

    &--small {
        width: 4rem;
        padding: 0 0.5rem;

        &[type="number"] {
            text-align: center;
        }
    }

    &--fit {
        width: fit-content;
    }

    &--select {
        /*  */
    }

    /* Custom */
    &--character-name {
        padding-inline: 0 3px;
        border: 0;
        background: transparent;
        font-family: var(--a5e-primary-font);
        font-size: var(--a5e-xl-text);

        &:active,
        &:focus {
            box-shadow: none;
        }
    }

    &--actor-footer {
        width: 3rem;
        height: 1.5rem;
        border: 0.5px solid var(--a5e-border-color);
        background: transparent;
        font-size: inherit;
        text-align: center;
        padding: 0 0.5rem;
    }

    &--hp {
        width: 3rem;
        text-align: center;
        height: 27px;
        background: transparent;
        border: none;
        padding: 0 0.25rem;
        font-weight: 600;

        &-temp,
        &-bonus {
            width: 3rem;
        }
    }
}
