.a5e-item-list {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow-y: auto;

  &--compendium {
    grid-area: main;
  }

  &--party {
    display: grid;
    max-height: 30rem;
  }

  &--sub-items {
    padding-left: 1rem;
  }
}
