.a5e-page-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.75rem;

  &--scrollable {
    margin-right: -0.375rem;
    padding-right: 0.375rem;
    overflow: clip auto;
  }
}
