.a5e-page-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.75rem;
    height: 100%;

    &--item-list {
        gap: 0.5rem;
    }

    &--item-list,
    &--scrollable {
        overflow: clip auto;

        prose-mirror {
            display: flex;
            flex-direction: column;
            flex: 1;
            min-height: 0;

            .editor-content {
                flex: 1;
            }
        }
    }
}
