.a5e-scaling-dialog {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.75rem;

    &__label {
        font-weight: bold;
        font-size: var(--a5e-sm-text);
    }

    &__section {
        display: flex;
        gap: 0.5rem;
        width: 100%;
        flex-wrap: wrap;
    }
}
