.a5e-section {
  display: flex;
  flex-direction: var(--a5e-section-direction, column);
  gap: var(--a5e-section-gap, 0.5rem);
  margin: var(--a5e-section-margin, 0 0 0.75rem 0);
  padding: var(--a5e-section-padding, 0);

  &__body {
    display: flex;
    flex-direction: var(--a5e-section-body-direction, column);
    gap: var(--a5e-section-body-gap, 0.25rem);
    padding: var(--a5e-section-body-padding, 0);
  }

  &__hint {
    margin: 0;
    padding: 0;
  }
}
