.a5e-sheet {
    border: 0;
    background: var(--a5e-sheet-background);
    font-size: var(--a5e-base-font-size) !important;

    *:not(
            .fa-classic,
            .fa-light,
            .fa-regular,
            .fa-solid,
            .fa-thin,
            .fal,
            .far,
            .fas,
            .fat
        ) {
        font-family: var(--a5e-nimble-font);
    }

    &--action,
    &--active-effect,
    &--actor,
    &--item,
    &--dialog {
        .window-content {
            padding: 0;
        }
    }

    &--action-activation {
        .window-content {
            overflow-y: auto;
            max-height: 90vh;
        }
    }
}
