.a5e-sheet {
  main {
    background: $color-sheet-background;
    height: 100%;
  }

  .dialog-content {
    height: 100%;
  }

  &--actor {
    min-width: 50rem;
    min-height: 43.25rem;
  }

  &--item {
    min-width: 32.5rem;
    min-height: 25rem;
  }

  &--action {
    min-width: 34.688rem;
    min-height: 37rem;
  }

  &--active-effect {
    min-width: 31.563rem;
    min-height: 31.25rem;
  }

  &--party-viewer {
    min-width: 40rem;
  }

  .window-content {
    padding: 0;
    overflow-y: hidden;
  }
}
