.a5e-sheet {
  background-image: unset;

  main {
    height: 100%;
  }

  input {
    color: var(--a5e-color-text-dark);
    background-color: var(--a5e-input-background);

    &::placeholder {
      color: var(--a5e-input-placeholder-color);
    }
  }

  select,
  option {
    color: var(--a5e-color-text-dark);
    background-color: var(--a5e-input-background);
  }

  button {
    color: var(--a5e-color-text-dark);
    background-color: var(--a5e-button-regular);
  }

  .dialog-content {
    height: 100%;
  }

  &--actor {
    min-width: 50rem;
    min-height: 43.25rem;
  }

  &--compendium {
    min-height: 80vh;
    max-height: 80vh;
    min-width: 35rem;
  }

  &--item {
    min-width: 32.5rem;
    min-height: 25rem;
  }

  &--action {
    min-width: 34.688rem;
    min-height: 37rem;
  }

  &--active-effect {
    min-width: 31.563rem;
    min-height: 31.25rem;
  }

  &--party-viewer {
    min-width: 40rem;
  }

  .window-header {
    background-image: url('/ui/denim075.png');
  }

  .window-content {
    background: var(--a5e-sheet-background-color);
    color: var(--a5e-color-text-dark);
    padding: 0;
    overflow-y: hidden;
  }
}
