.a5e-community-links {
  display: flex;
  gap: 0.5rem;
  padding-block: 0.5rem;
}

.a5e-community-link {
  &[href] {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    height: 2rem;
    background: rgba(255, 255, 240, 0.8);
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    border: 1px solid var(--color-border-light-primary);
    border-radius: 3px;
  }

  &--discord[href] {
    background: #6790e3;
    border: 1px solid hsl(220, 69%, 55%);
  }

  &--patreon[href] {
    background: #F96854;
    border: 1px solid hsl(7, 93%, 65%);
  }

  &:focus[href],
  &:hover[href] {
    outline: none;
    box-shadow: none;
    text-shadow: none;
  }
}
