.a5e-community-links {
  display: flex;
  gap: 0.5rem;
  padding-block: 0.5rem;
}

.a5e-community-link[href] {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 2rem;
  background: rgba(255, 255, 240, 0.8);
  color: #000;
  text-decoration: none;
  border: 1px solid var(--color-border-light-primary);
  border-radius: 3px;

  &:focus,
  &:hover {
    outline: none;
    box-shadow: 0 0 5px var(--color-shadow-primary);
    text-shadow: none;
  }
}
