.a5e-config-button {
  margin-left: auto;
  color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: var(--a5e-text-size-sm);
  transition: var(--a5e-transition-standard);

  &--details,
  &--skill {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.4rem;
  }

  &--health {
    position: absolute;
    top: 50%;
    right: 0;
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    background: var(--a5e-color-background-light);
    border-radius: 50%;
    box-shadow: 0 0 10px #ccc inset;
    font-size: var(--a5e-text-size-lg);
    transform: translate(50%, -50%);
  }

  &:hover {
    color: #555;
    transform: scale(1.2);
  }
}
