.a5e-death-saves {
  position: absolute;
  top: 5rem;
  left: 50%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background: rgba(139, 37, 37, 0.8);
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.75);
  gap: 0.25rem;
  transform: translate(-50%, -50%);

  &__icon {
    cursor: pointer;
    font-size: $font-size-lg;
    transition: $standard-transition;

    &:hover {
      color: #fff;
    }

    &:hover > .a5e-tooltip {
      display: block;
    }
  }

  &__input[type=number] {
    border: 0;
    background: transparent;
    color: inherit;
    font-size: $font-size-md;
    text-align: center;
    padding: 0;

    &:active,
    &:focus {
      box-shadow: none;
    }
  }
}
