.a5e-dice-tooltip {
  display: none;

  &__formula {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 0.5ch;
    height: 1.5rem;
    border-bottom: 1px solid var(--a5e-dice-tooltip-border-color);
  }

  &__flavor {
    font-size: var(--a5e-text-size-sm);
    font-weight: normal;
    color: var(--a5e-color-text-medium);
  }

  &__total {
    display: flex;
    min-width: 1.5rem;
    height: 1.5rem;
    align-items: center;
    justify-content: center;
    padding: 0 0.25rem;
    border: 1px solid var(--a5e-dice-tooltip-border-color);
    background: var(--a5e-dice-tooltip-total-background);
    border-top-left-radius: var(--a5e-border-radius-standard);
    border-top-right-radius: var(--a5e-border-radius-standard);
  }
}
