.a5e-rule {
  border: 0;
  border-bottom: 0.5px solid var(--a5e-rule-color);
  margin: 0;

  &--card {
    margin: 0.25rem 0;
    border-bottom: 0.5px solid var(--a5e-chat-card-rule-color);
  }

  &--form {
    margin-bottom: 1rem;
  }
}
