.a5e-tag {
  padding: 0.15rem 0.4rem;
  border: 1px solid darken-color(var(--a5e-color-text-medium), 5);
  background: transparent;
  border-radius: var(--a5e-border-radius-standard);
  color: inherit;
  transition: var(--a5e-transition-standard);
  white-space: nowrap;

  &:hover {
    background: darken(#dddace, 2.5%);
  }

  &--active {
    background: var(--a5e-color-primary);
    border-color: var(--a5e-color-primary);
    color: lighten-color(var(--a5e-color-primary), 80);

    &:hover {
      background: var(--a5e-color-primary);
    }
  }

  &--red {
    border-color: darken-color(var(--a5e-color-error), 5);
    background: var(--a5e-color-error);
    color: lighten-color(var(--a5e-color-error), 95);

    &:hover {
      background: var(--a5e-color-error);
    }
  }

  &--tight {
    padding: 0.1rem 0.375rem;
  }
}
