.a5e-tag {
  padding: 0.15rem 0.4rem;
  border: 1px solid darken(#7e7960, 5%);
  background: transparent;
  border-radius: $border-radius-standard;
  color: inherit;
  transition: $standard-transition;
  white-space: nowrap;

  &:hover {
    background: darken(#dddace, 2.5%);
  }

  &--active {
    background: $color-primary;
    border-color: $color-primary;
    color: lighten($color-primary, 80%);

    &:hover {
      background: $color-primary;
    }
  }

  &--red {
    border-color: darken($color-secondary, 5%);
    background: $color-secondary;
    color: lighten($color-secondary, 95%);

    &:hover {
      background: $color-secondary;
    }
  }

  &--tight {
    padding: 0.1rem 0.375rem;
  }
}
