<section
    class="
        u-gap-md
        u-grid
        u-grid-3
        u-p-lg
        u-h-full
        u-overflow-y-auto
        {{#unless (eq currentTab 'attributes')}}u-hidden{{/unless}}
        a5e-js-sheet-page
        a5e-js-attributes-scroll-area
    "
    data-group="main"
    data-tab="attributes"
>
    <div class="u-font-sans-serif u-flex u-flex-col u-gap-md">
        {{> "systems/a5e/templates/actors/partials/senses.hbs" senses=senses }}

        {{>
            "systems/a5e/templates/actors/partials/secondary-details.hbs"
            title="A5E.DamageResistances"
            configListener="a5e-js-configure-damage-resistances"
            items=damageResistances
        }}

        {{>
            "systems/a5e/templates/actors/partials/secondary-details.hbs"
            title="A5E.DamageImmunities"
            configListener="a5e-js-configure-damage-immunities"
            items=damageImmunities
        }}

        {{>
            "systems/a5e/templates/actors/partials/secondary-details.hbs"
            title="A5E.DamageVulnerabilities"
            configListener="a5e-js-configure-damage-vulnerabilities"
            items=damageVulnerabilities
        }}

        {{>
            "systems/a5e/templates/actors/partials/secondary-details.hbs"
            title="A5E.ConditionImmunities"
            configListener="a5e-js-configure-condition-immunities"
            items=conditionImmunities
        }}

        {{>
            "systems/a5e/templates/actors/partials/secondary-details.hbs"
            title="A5E.ArmorProficiencies"
            configListener="a5e-js-configure-armor-proficiencies"
            items=data.proficiencies.armor
        }}

        {{>
            "systems/a5e/templates/actors/partials/secondary-details.hbs"
            title="A5E.WeaponProficiencies"
            configListener="a5e-js-configure-weapon-proficiencies"
            items=data.proficiencies.weapons
        }}

        {{>
            "systems/a5e/templates/actors/partials/secondary-details.hbs"
            title="A5E.ToolProficiencies"
            configListener="a5e-js-configure-tool-proficiencies"
            items=data.proficiencies.tools
        }}

        {{>
            "systems/a5e/templates/actors/partials/secondary-details.hbs"
            title="A5E.Languages"
            configListener="a5e-js-configure-language-proficiencies"
            items=data.proficiencies.languages
        }}
    </div>

    <ul class="
        u-flex-shrink-0
        u-gap-xs
        u-grid
        u-grid-2
        u-h-fit
        u-span-2
        u-list-style-none
        u-m-0
        u-p-0
    ">
        {{#each data.skills as |skill key|}}
            {{> "systems/a5e/templates/actors/partials/skill.hbs" skill=skill key=key }}
        {{/each}}
    </ul>
</section>
